
<footer>
    <section class="container-footer">
    <div class="logo-footer">
            <a href="/">
                <h2 class="logo"> VIP.DRINKS</h2>
            </a>
        </div> 
    <article class="art-footer">
        <i class="fab fa-bitcoin"></i>
    <h4>CriptoCash</h4>
    <p class="text">Asocia tu cuenta en Apio y paga con tu billetera virtual. En el acto y sin recargo.</article>
    
     <article class="art-footer">
        <i class="fas fa-globe-americas"></i>
    <h4>Envíos globales</h4>
    <p class="text">¡No tenemos límites! Disfruta de tus bebidas estés donde estés.</p>
     </article>
   
    <article class="art-footer">
        <i class="fas fa-check-circle"></i>
    <h4>Excelencia verificada</h4></li>
    <p class="text">La exclusividad y el lujo de nuestros productos están certificados.</p>
    </article>

    </section>
    <div class="contain-redes-sociales">
        <a href="https://www.instagram.com">
        <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/">
        <i class="fab fa-facebook-square"></i>
        </a>
        <a href="/images/gatito-wsp.jpeg">
        <i class="fab fa-whatsapp-square"></i>
        </a>
        <a href="https://twitter.com">
        <i class="fab fa-twitter-square"></i>
        </a>
    </div>   
    <a href="/terminos-y-condiciones" class="terminos-y-condiciones">Términos y condiciones</a>
</footer>