<header>
    <nav class="global-nav">
        <div class="contain-navbar-scroll">
            <link rel="stylesheet" href="/css/styles-header.css">
            <!--ACÁ EMPIEZA EL MENÚ EMERGENTE-->

            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="close-btn" onclick="closeNav()"><i
                        class="far fa-times-circle"></i></a>
                <a href="/users/register">REGISTRARME</a>
                <a href="/users/login">INGRESAR</a>
                <a href="/shop">MI CARRITO</a>
                <a href="/product/luxury-offers">KITS</a>
                <a href="/listProducts">PRODUCTOS</a>
                <a href="/recipes">RECETAS</a>
                <a href="/admin"><i class="fas fa-user-tie"></i></a>
                <a href="/users/logout">CERRAR SESIÓN</i></a>
            </div>
            <div id="main" class="open-btn hamburguer-menu" onclick="openNav()">
                <i class="fas fa-bars"></i>
            </div>

            <script  src="/js/menu.js">
             
            </script>

            <!-- ACÁ TERMINA EL BOTON DE MENU EMERGENTE-->

            <div class="contain logo-home">
                <a href="/">
                    <h2 class="logo"> VIP.DRINKS</h2>
                </a>
            </div>
            <div>
                <a href="/shop"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <div class="navbar-tablet">
        <div class="contain logo-home">
            <a href="/">
                <h2 class="logo-nav"> VIP.DRINKS</h2>
            </a>
        </div>
        <div class="search">
            <form action="/search" method="get">
                <input type="text" name="search" id="input-search">
                <button id="search" type="submit" class=""><i class="fas fa-search"></i></button>
            </form>
        </div>
        <% if (locals.isLogged) { %>
        <div class="img-user-nav">
            <a href="/users/profile">
            <img src="/images/imgUsers/<%= locals.userLogged.img%>" class="img-user-nav">
            </a>
        </div>
        <% } %>
        <section class="nav">
            <div class="container-nav-left">
                <ul class="nav-left">
                    <li class="option"><a href="/listProducts">OFERTAS</a></li>
                    <li class="option"><a href="/product/luxury-offers">NOVEDADES</a></li>
                    <li class="option"><a href="/recipes">RECETAS</a></li>
                </ul>
            </div>
            <ul class="nav-rigth">
                <% if (locals.isLogged) { %>
                    <li class="option"><a href="/shop">CARRITO</a></li>
                    <li class="option"><a href="/users/logout">SALIR</a></i></li>

                    <% } else { %>
                        <li class="option"><a href="/users/login">ENTRAR</a></li>
                        <li class="option"><a href="/users/register">REGISTRARME</a></li>

                        <% } %>
            </ul>
        </section>
        </div>
    </nav>
</header>