<header>
    <nav class="global-nav">
    <div class="contain-navbar-scroll">
        <link rel="stylesheet" href="/css/styles-header.css">
<!--ACÁ EMPIEZA EL MENÚ EMERGENTE-->

        <div id="mySidebar" class="sidebar">
                    <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">x</a>
                    <a href="/user/registro">Registrarse</a>
                    <a href="/user/login">Ingresar</a>
                    <a href="/shop">Mi Carrito</a>
                    <a href="/product/luxury-offers">Luxury Offers</a>
                    <a href="/product/history">History Products</a>
                    <a href="/recetas"> Recetas</a>
                </div>
         <div id="main" class="open-btn hamburguer-menu" onclick="openNav()">
            <i class="fas fa-bars"></i>
        </div>

<script>
function openNav(){
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}
function closeNav(){
    document.getElementById("mySidebar").style.width = "0"
    document.getElementById("main").style.marginLeft = "0";
}
</script>

<!-- ACÁ TERMINA EL BOTON DE MENU EMERGENTE-->           

        <div class="contain logo-home">
             <a href="/"><img src="/images/logo-home.png" class="logo-home"></a> 
        </div>
        <div class="contain logo-instagram">
           <a href="https://www.instagram.com">
            <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>

        <div class="navbar-tablet">
            <ul class="nav-center">
            <li><a href="/product/history">history products</a></li>
            <li><a href="/product/luxury-offers">Luxury Offers</a></li>
            <li><a href="/recetas">Recetas</a></li>
            </ul>
            <ul class="nav-rigth">
        <li><a href=""><i class="fas fa-search"></i></a></li>
        <li><a href="/user/login"><i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="/user/registro"><i class="fas fa-user"></i></a></li>
        <li><a href="/shop"><i class="fas fa-shopping-cart"></a></i></li>
            </ul> 
        </div>
    
    </nav>
</header>