<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMINISTRADOR</title>
</head>
<body>
    <h2>ADMINISTRACIÓN</h2>
    <a href="/admin/create"> Crear nuevo producto</a>
    <a href="/admin/listEdit"> Editar o eliminar productos</a>
</body>
</html>