<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/673f269efc.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/styles-car.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
     <title>carrito-de-compras</title>
</head>
<body class="block">
<header>
    <nav class="global-nav">
    <div class="contain-navbar-scroll">

<!--ACÁ EMPIEZA EL MENÚ EMERGENTE-->

        <div id="mySidebar" class="sidebar">
                    <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">x</a>
                    <a href="/registro">Registrarse</a>
                    <a href="/login">Ingresar</a>
                    <a href="/novedades">Novedades</a>
                    <a href="/detalle-de-productos">Productos</a>
                    <a href="/recetas"> Recetas</a>
                </div>
         <div id="main" class="open-btn hamburguer-menu" onclick="openNav()">
            <i class="fas fa-bars"></i>
        </div>

<script>
function openNav(){
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}
function closeNav(){
    document.getElementById("mySidebar").style.width = "0"
    document.getElementById("main").style.marginLeft = "0";
}
</script>

<!-- ACÁ TERMINA EL BOTON DE MENU EMERGENTE-->           

        <div class="contain logo-home">
             <a href="/"><img src="/images/logo-home.png" class="logo-home"></a> 
        </div>
        <div class="contain logo-instagram">
           <a href="https://www.instagram.com">
            <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
        <div class="navbar-tablet">
            <ul class="nav-center">
            <li><a href="/productos">Productos</a></li>
            <li><a href="/novedades">Novedades</a></li>
            <li><a href="/recetas">Recetas</a></li>
            </ul>
            <ul class="nav-rigth">
        <li><a href=""><i class="fas fa-search"></i></a></li>
        <li><a href="/perfil"><i class="fas fa-user"></i></a></li>
        <li><a href="/carrito-de-compras"><i class="fas fa-shopping-cart"></a></i></li>
            </ul> 
        </div>
    
    </nav>
</header>

<main>
    <!--ACÁ VA EL CÓDIGO DEL CUERPO DE LA PÁG-->
</main>

<footer>
    <section class="container-footer">
    <div class="container-logo">
     <a href="/"><img src="/images/logo-home.png" class="logo-home"></a>
    </div>  

<div class="nav-footer">
<div class="nav-footer-column">       
<h2 class="header-links"><a href="/productos">Productos</h2></a>
    <ul class="footer-tablet">  
        <li><a href="#" class="link">Procucto A</a></li>
        <li><a href="#" class="link">Producto B</a></li>
        <li><a href="#" class="link">Producto C</a></li>
        <li><a href="#" class="link">Producto D</a></li>
    </ul>
</div>
<div class="nav-footer-column"> 
    <h2 class="header-links"><a href="/productos">Recetas</h2></a>
    <ul class="footer-tablet">      
        <li><a href="#" class="link">Receta A</a></li>
        <li><a href="#" class="link">Receta B</a></li>
        <li><a href="#" class="link">Receta C</a></li>
        <li><a href="#" class="link">Receta D</a></li>
        <li><a href="#" class="link">Receta E</a></li>
    </ul>
</div>    
<div  class="nav-footer-column">
<h2 class="header-links"><a href="/contacto">Contacto</h2></a>
    <ul class="footer-tablet">
        <li><a href="#" class="link">Enlace A</a></li>
        <li><a href="#" class="link">Enlace B</a></li>
        <li><a href="#" class="link">Enlace C</a></li>
        <li><a href="#" class="link">Enlace D</a></li>
    </ul>
</div>

<div class="nav-footer-column">
<h2 class="header-links"><a href="/nosotros">Nosotros</a></h2>
    <ul class="footer-tablet">
         <li><a href="#" class="link">Enlace A</a></li>
         <li><a href="#" class="link">Enlace B</a></li>
         <li><a href="#" class="link">Enlace C</a></li>
         <li><a href="#" class="link">Enlace D</a></li>
    </ul>
</div>

</div>     

<div class="contain-redes-sociales">
    <a href="https://www.instagram.com">
    <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.facebook.com/">
    <i class="fab fa-facebook-square"></i>
    </a>
    <a href="/images/gatito-wsp.jpeg">
    <i class="fab fa-whatsapp-square"></i>
    </a>
    <a href="https://twitter.com">
    <i class="fab fa-twitter-square"></i>
    </a>
</div>
    </section>   
    <a href="/terminos-y-condiciones" class="terminos-y-condiciones">Términos y condiciones</a>
</footer>

</body>
</html>