<!DOCTYPE html>
    <html lang="en">

        <head>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <script src="https://kit.fontawesome.com/673f269efc.js" crossorigin="anonymous"></script>
                <link rel="stylesheet" href="css/styles-contac.css">
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
             <title>Home</title>
        </head>
<body>
     <header>
                <nav class="global-nav">
                <div class="contain-navbar-scroll">
            
            <!--ACÁ EMPIEZA EL MENÚ EMERGENTE-->
            
                    <div id="mySidebar" class="sidebar">
                                <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">x</a>
                                <a href="/registro">Registrarse</a>
                                <a href="/login">Ingresar</a>
                                <a href="/novedades">Combos</a>
                                <a href="/detalle-de-productos">Productos</a>
                                <a href="/recetas"> Recetas</a>
                            </div>
                     <div id="main" class="open-btn hamburguer-menu" onclick="openNav()">
                        <i class="fas fa-bars"></i>
                    </div>
            
            <script>
            function openNav(){
                document.getElementById("mySidebar").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }
            function closeNav(){
                document.getElementById("mySidebar").style.width = "0"
                document.getElementById("main").style.marginLeft = "0";
            }
            </script>
            
            <!-- ACÁ TERMINA EL BOTON DE MENU EMERGENTE-->           
            
                    <div class="contain logo-home">
                         <a href="/"><img src="/images/logo-home.png" class="logo-home"></a> 
                    </div>
                    <div class="contain logo-instagram">
                       <a href="https://www.instagram.com">
                        <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
                <div class="logo-nav">
                    <a href="/"><img src="/images/logo-home.png" class="logo-nav"></a> 
               </div>
                    <div class="navbar-tablet">
                        <ul class="nav-center">
                        <li><a href="/productos"> Productos</a></li>
                        <li><a href="/novedades">Combos</a></li>
                        <li><a href="/recetas">Recetas</a></li>
                        </ul>
                        <ul class="nav-rigth">
                    <li><a href=""><i class="fas fa-search"></i></a></li>
                    <li><a href="/perfil"><i class="fas fa-user"></i></a></li>
                    <li><a href="/carrito-de-compras"><i class="fas fa-shopping-cart"></a></i></li>
                        </ul> 
                    </div>
                
                </nav>
 </header>
                
<main>
            <!--ACÁ VA EL CÓDIGO DEL CUERPO DE LA PÁG-->
 </main>
        
 <footer>
    <section class="container-footer">
    <div class="logo-footer">
     <a href="/"><img src="/images/logo-home.png" class="logo-footer"></a>
    </div>  
    <article class="art-footer">
        <i class="fab fa-bitcoin"></i>
    <h4>CriptoCash</h4>
    <p class="text">Asocia tu cuenta en Apio y paga con tu billetera virtual. En el acto y sin recargo.</article>
    
     <article class="art-footer">
        <i class="fas fa-globe-americas"></i>
    <h4>Envíos globales</h4>
    <p class="text">¡No tenemos límites! Disfruta de tus bebidas estés donde estés.</p>
     </article>
   
    <article class="art-footer">
        <i class="fas fa-check-circle"></i>
    <h4>Excelencia verificada</h4></li>
    <p class="text">La exclusividad y el lujo de nuestros productos están certificados.</p>
    </article>

    </section>
    <div class="contain-redes-sociales">
        <a href="https://www.instagram.coml">
        <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/">
        <i class="fab fa-facebook-square"></i>
        </a>
        <a href="/images/gatito-wsp.jpeg">
        <i class="fab fa-whatsapp-square"></i>
        </a>
        <a href="https://twitter.com">
        <i class="fab fa-twitter-square"></i>
        </a>
    </div>   
    <a href="/terminos-y-condiciones" class="terminos-y-condiciones">Términos y condiciones</a>
</footer>
        
        </body>
        </html>