<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/673f269efc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles-detalle-de-productos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
<title>Detalle de producto</title>
</head>
<body class="block">
    <header>
        <nav class="global-nav">
        <div class="contain-navbar-scroll">

<!--ACÁ EMPIEZA EL MENÚ EMERGENTE-->

            <div id="mySidebar" class="sidebar">
                        <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">x</a>
                        <a href="/registro">Registrarse</a>
                        <a href="/login">Ingresar</a>
                        <a href="/novedades">Combos</a>
                        <a href="/detalle-de-productos">Productos</a>
                        <a href="/recetas"> Recetas</a>
                    </div>
             <div id="main" class="open-btn hamburguer-menu" onclick="openNav()">
                <i class="fas fa-bars"></i>
            </div>

<script>
    function openNav(){
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }
    function closeNav(){
        document.getElementById("mySidebar").style.width = "0"
        document.getElementById("main").style.marginLeft = "0";
    }
</script>

<!-- ACÁ TERMINA EL BOTON DE MENU EMERGENTE-->           

            <div class="contain logo-home">
                 <a href="/"><img src="/images/logo-home.png" class="logo-home"></a> 
            </div>
            <div class="contain logo-instagram">
               <a href="https://www.instagram.com">
                <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
            <div class="navbar-tablet">
                <ul class="nav-center">
                <li><a href="/productos">Productos</a></li>
                <li><a href="/novedades">Combos</a></li>
                <li><a href="/recetas">Recetas</a></li>
                </ul>
                <ul class="nav-rigth">
            <li><a href=""><i class="fas fa-search"></i></a></li>
            <li><a href="/perfil"><i class="fas fa-user"></i></a></li>
            <li><a href="/carrito-de-compras"><i class="fas fa-shopping-cart"></a></i></li>
                </ul> 
            </div>
        
        </nav>
    </header>

    <main>
            <div class="button-shopp">
      
            <button type="submit" class="button-shopp"><a href="./carrito-de-compras">Comprar</a></button>
      
            </div>
          
            <section class="contain-articles">
          
            <article class="featured-product">
                <div class="container-image-product">
                    <img src="/images/trump-featured-article.jpeg" class="vodka-Trump">
                </div>
                <div class="container-description"> 
                    <h3>VODKA TRUMP</h3>
                    <p>Quíntuple destilación en Holanda por el renombrado maestro destilador holandés Jacques de Lat.
                        Vodka Trump es embotellada en un diseño único, hermoso y lujoso, con etiquetas y decoración exterior por el famoso diseñador de Nueva York y artista Milton Glaser.
                        Color claro y limpio.
                        Nariz: fragancias claramente definidas por el trigo.
                        Boca: Una entrada suave, transparente, es una introducción agradable al paladar. Final largo con notas citricas.
                        Contenido: 75 Cl.
                        Graduación: 40 % Vol.</p>
                </div>
            </article>

            <article>
                <div class="container-image-product">
                   <img src="/images/whisky-highland-feature.jpeg" class="whisky-highland-feature"> 
                </div>
                <div class="container-description">
                    <h3>WIHSKY HIGHLAND PARK</h3>
                    <p>La destilería de las Islas Orcadas Highland Park ha lanzado su whisky más antiguo en casi una década, una expresión madurada en barril de jerez de 50 años con un precio de casi 18.000 dólares. El single malt, destilado en 1964, es un embotellado de dos barricas de hogshead españolas sazonadas con jerez. Sólo se han liberado 274 botellas.</p>
                </div>    
            </article>

            <article>
                <div class="container-image-product">
                   <img src="/images/champagne-krug-feature.jpeg" class="champagne-krug-feature"> 
                </div>
                <div class="container-description">
                    <h3>CHAMPAGNE KRUG GRANDE CUVÉE</h3>
                    <p>Profundo color dorado y finas burbujas, vivaces, que predicen plenitud y elegancia. Aromas de flores, fruta madura y seca, mazapán, pan de jengibre y cítricos. Sabores de avellana, turrón, azúcar de cebada, gelatina y cítricos, almendras, brioche y miel. Reims, Francia.</p>
                </div>    
            </article>

        </section>
    </main>

    <footer>
        <section class="container-footer">
        <div class="container-logo">
         <a href="/"><img src="/images/logo-home.png" class="logo-home"></a>
        </div>  

<div class="nav-footer">
<div class="nav-footer-column">       
    <h2 class="header-links"><a href="/productos">Productos</h2></a>
        <ul class="footer-tablet">  
            <li><a href="#" class="link">Procucto A</a></li>
            <li><a href="#" class="link">Producto B</a></li>
            <li><a href="#" class="link">Producto C</a></li>
            <li><a href="#" class="link">Producto D</a></li>
        </ul>
</div>
<div class="nav-footer-column"> 
        <h2 class="header-links"><a href="/productos">Recetas</h2></a>
        <ul class="footer-tablet">      
            <li><a href="#" class="link">Receta A</a></li>
            <li><a href="#" class="link">Receta B</a></li>
            <li><a href="#" class="link">Receta C</a></li>
            <li><a href="#" class="link">Receta D</a></li>
            <li><a href="#" class="link">Receta E</a></li>
        </ul>
</div>    
<div  class="nav-footer-column">
    <h2 class="header-links"><a href="/contacto">Contacto</h2></a>
        <ul class="footer-tablet">
            <li><a href="#" class="link">Enlace A</a></li>
            <li><a href="#" class="link">Enlace B</a></li>
            <li><a href="#" class="link">Enlace C</a></li>
            <li><a href="#" class="link">Enlace D</a></li>
        </ul>
</div>

<div class="nav-footer-column">
    <h2 class="header-links"><a href="/nosotros">Nosotros</a></h2>
        <ul class="footer-tablet">
             <li><a href="#" class="link">Enlace A</a></li>
             <li><a href="#" class="link">Enlace B</a></li>
             <li><a href="#" class="link">Enlace C</a></li>
             <li><a href="#" class="link">Enlace D</a></li>
        </ul>
</div>

</div>     

    <div class="contain-redes-sociales">
        <a href="https://www.instagram.com">
            <i class="fab fa-instagram"></i>
            </a>
        <a href="https://www.facebook.com/">
        <i class="fab fa-facebook-square"></i>
        </a>
        <a href="/images/gatito-wsp.jpeg">
        <i class="fab fa-whatsapp-square"></i>
        </a>
        <a href="https://twitter.com">
        <i class="fab fa-twitter-square"></i>
        </a>
    </div>
        </section>   
        <a href="/terminos-y-condiciones" class="terminos-y-condiciones">Términos y condiciones</a>
    </footer>

</body>
</html>