<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/673f269efc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles-detalle-de-productos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
<title>Detalle de producto</title>
</head>
<body class="block">
    <header>
        <nav class="global-nav">
        <div class="contain-navbar-scroll">
            <div class="contain hamburguer-menu">
                <i class="fas fa-bars"></i>
            </div> 
            <div class="contain logo-home">
                    <img src="/images/logo-home.png" class="logo-home">
            </a>
            </div>
            <div class="contain logo-instagram">
                <i class="fab fa-instagram"></i>
            </div>
        </div>
            <div class="navbar-tablet">
                <ul class="nav-center">
                <li><a href="#">Productos</a></li>
                <li><a href="#">Novedades</a></li>
                <li><a href="#">Recetas</a></li>
                </ul>
                <ul class="nav-rigth">
            <li><i class="fas fa-search"></i></li>
            <li><i class="fas fa-user"></i></li>
            <li><i class="fas fa-shopping-cart"></i></li>
                </ul> 
            </div>
        
        </nav>
    </header>

    <main>
            <div class="button-shopp">
            <button class="button-shopp">Comprar</button>
            </div>
          
            <section class="contain-articles">
          
            <article class="featured-product">
                <div class="container-image-product">
                    <img src="/images/trump-featured-article.jpeg" class="vodka-Trump">
                </div>
                <div class="container-description"> 
                    <h3>Descripcion</h3>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque incidunt quaerat aut quis porro minus in expedita eveniet. Explicabo unde sapiente iusto deserunt nostrum. Placeat culpa libero nesciunt sunt laborum! </p>
                </div>
            </article>

            <article>
                <div class="container-image-product">
                   <img src="/public/images/vodka-Trump.jpeg" class="vodka-Trump"> 
                </div>
                <div class="container-description">
                    <h3>Descripcion</h3>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque incidunt quaerat aut quis porro minus in expedita eveniet. Explicabo unde sapiente iusto deserunt nostrum. Placeat culpa libero nesciunt sunt laborum! </p>
                </div>    
            </article>
        </section>
    </main>

    <footer>
        <div class="container-logo">
            <a href="../views/home.html">
                <i class="fas fa-wine-bottle"></i></a>
        </div>
        <ul>
            <h2 class="header-links">Productos</h2>
            <li><a href="#" class="link">Procucto A</a></li>
            <li><a href="#" class="link">Producto B</a></li>
            <li><a href="#" class="link">Producto C</a></li>
            <li><a href="#" class="link">Producto D</a></li>
            <li><a href="#" class="link">Producto E</a></li>
        </ul>

        <ul>
            <h2 class="header-links">Recetas</h2>
            <li><a href="#" class="link">Receta A</a></li>
            <li><a href="#" class="link">Receta B</a></li>
            <li><a href="#" class="link">Receta C</a></li>
            <li><a href="#" class="link">Receta D</a></li>
            <li><a href="#" class="link">Receta E</a></li>
        </ul>

        <ul>
            <h2 class="header-links">Contacto</h2>
            <li><a href="#" class="link">Nuestras oficinas</a></li>
            <li><a href="#" class="link">Linkedin</a></li>
            <li><a href="#" class="link">Trabaja con nosotros</a></li>
        </ul>

        <ul>
            <h2 class="header-links">Nosotros</h2>
            <li><a href="#" class="link"></a>Conocenos</li>
        </ul>

    <div class="container-redes-sociales">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-whatsapp-square"></i>
        <i class="fab fa-twitter-square"></i>
    </div>
    </footer>
</body>
</html>