<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-home.css">
    <title>detalle</title>
</head>
<body>
    
<main>
<article>
        <h3 class="title-product">Whisky Louis XIII</h3>
        <div class="container-images">
            <div class="images-mini">
                <img src="/images/whisky-Louis-XIII.png" alt="">
                <img src="/images/truck.jpg" alt="">
                <img src="/images/world.jpg" alt="">
            </div>
            <div class="img-principal">
                <img src="/images/whisky-Louis-XIII.png" alt="">
            </div>
        </div>
        <div>
            <select name="color" id="color">
                <option name="color" value="negro">Negro</option>
                <option name="color" value="blanco">Blanco</option>
            </select>
        </div>
        <div>
            <select name="tamaño" id="tamaño">
                <option value="525">525ml</option>
                <option value="710">710ml</option>
            </select>
        </div>
        <h4 class="price">$120.000</h4>
        <p class="off">10% OFF</p>
        <p class="payment-details">en 25 cuotas</p>
        <div class="button-stock">En stock</div>
        <p class="stock-alert">¡Quedan solo dos!</p>
        <a href="/metodos-de-pago">Ver todos los métodos de pago</a>
        <div>
        <i class="fas fa-globe-americas"></i>
        <p class="title-green">Envío gratis a todo el mundo</p>
        <p class="informative">Conocé los tiempos y las formas de envío</p>
        <a href="/en-camino">Calcular cuándo llega</a>
        </div>
        <div>
        <i class="fas fa-certificate"></i>
        <p class="title-green">Calidad certificada</p>
        <p class="informative">Conocé más de la marca y el producto.</p>
        <a href="/marca">Conocer más</a>    
        </div>
<h4 class="title">Stock disponible</h4>
<div>
    <select name="stock" id="stock">
        <option name="stock" value="1">1</option>
        <option name="stock" value="2">2</option>
    </select>
</div>
<button type="submit">Comprar</button>

<div>
    <i class="fas fa-user-shield"></i>
    <p class="informative">Proveedor oficial VIP <a href="/terminos-y-condiciones">Enterate de todo</a></p>
</div>
<div>
<i class="fas fa-bahai"></i>
<p class="informative">¡Última tendencia! <a href="/"></a></p>
</div>
<div>
    <i class="fas fa-cocktail"></i>
    <p class="informative">Recetas increíbles con esta botella<a href="/recipes">aquí</a></p>
</div>
<div>
<i class="far fa-heart"></i>
    <input type="checkbox" name="favs" id="favs" value="favs">
    <label for="favs"><i class="far fa-heart"></i>Agregar a favoritos</label>
</div>
<div>
    <label for="compartir"><i class="fas fa-share-alt"></i>Compartir</label>
</div>
</article>

<section class="caracteristicas">
    <h4>Características del producto</h4>
    <article class="caracteristicas">
    <h4>Lo que tenés que saber de este producto</h4>
    <ul>
        <li>50 años de añejado</li>
        <li>Edición limitada</li>
        <li>Sólo 100 ejemplares</li>
        <li>Imágenes ilustrativas</li>
    </ul>
    </article>
    
<article class="caracteristicas">
        <div>
            <i class="fas fa-candy-cane"></i>
            <h5>Dulce</h5>
        </div>
        <div>
            <i class="fas fa-fire-alt"></i>
            <h5>Fuerte</h5>
        </div>
        <div>
            <i class="fas fa-apple-alt"></i>
            <h5>Frutal</h5>
        </div>
        <div>
            <i class="fas fa-seedling"></i>
            <h5>Sustentable</h5>
        </div>
        <div>
            <a href="/">Ver más características</a>
        </div>
</article>
        <section class="intereses">
            <h4>Mas publicaciones del vendedor</h4>
            <article>
                <img src="/images/whisky-Highland-Park.png" alt="whisky-Highland-Park">
                <div class="main-article"><i class="fas fa-plane"></i>
                <p class="price">$255.000</p>
                <p class="shipping">Envío Global Gratuito</p> 
                <h4 class="description">whisky Highland Park</h4>
                <form action="/carrito-de-compras" method="post">
                    <button class="buy" type="submit">Comprar</button>
                    </form>
            </div>
            </article> 
            <article>
                <img src="/images/whisky-Highland-Park.png" alt="whisky-Highland-Park">
                <div class="main-article"><i class="fas fa-plane"></i>
                <p class="price">$255.000</p>
                <p class="shipping">Envío Global Gratuito</p> 
                <h4 class="description">whisky Highland Park</h4>
                <form action="/carrito-de-compras" method="post">
                    <button class="buy" type="submit">Comprar</button>
                    </form>
            </div>
            </article> 
            <article>
                <img src="/images/whisky-Highland-Park.png" alt="whisky-Highland-Park">
                <div class="main-article"><i class="fas fa-plane"></i>
                <p class="price">$255.000</p>
                <p class="shipping">Envío Global Gratuito</p> 
                <h4 class="description">whisky Highland Park</h4>
                <form action="/carrito-de-compras" method="post">
                    <button class="buy" type="submit">Comprar</button>
                    </form>
            </div>
            </article> 
        </section>

        <section class="information-seller">
            <div>
                <i class="fas fa-biohazard"></i>
                <p class="subtitle">Marca x</p>
                <p class="informative">Tienda oficial</p>
            </div>
            <div>
            <i class="fas fa-award"></i>
            <p class="title-green">Líder en el mercado</p>
            <p class="informative">De los mejores vendedores a nivel continental</p>
        </div>
        <div>
            <div>
                <h6>3333</h6>
                <p class="informative">Ventas en el último mes</p>
            </div>
            <div>
                <h6><i class="fas fa-comments-dollar"></i></h6>
                <p class="informative">Negociación destacada</p>
            </div>
            <div>
                <h6><i class="fas fa-user-clock"></i></h6>
                <p class="informative">Cumple con los tiempos de envío</p>
            </div>
        </div>
        <div>
            <a href="/">Ver más datos de marca x</a>
        </div>
        </section>
<article class="caracteristicas">
    <h4>Todas sus características</h4>
    <p class="informative-L">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla aut impedit minima, at aperiam ut, eligendi quae, dicta illo consequuntur quam. Neque incidunt beatae dolorum consectetur vero reiciendis cum tenetur?
    Ducimus assumenda nostrum repudiandae possimus, corporis numquam tempora nobis sequi esse, magnam excepturi minus quibusdam quis harum nihil voluptatibus sit rem eligendi rerum! Cum, ullam? Voluptate sunt nulla magni id.
    Illo quidem voluptatibus ipsa ipsum! Officiis eaque animi veritatis quod sit temporibus. Provident, voluptatum. Iste libero iure iusto labore cum non placeat numquam obcaecati quod, illo atque, minima voluptate nesciunt!
    Ex, labore itaque ratione eius ipsa dolorem qui ipsam earum sunt illum. Quaerat eos tenetur fuga quos facere veritatis unde, quis obcaecati perspiciatis consectetur veniam dolorum aspernatur excepturi totam fugiat!
    Quos consequatur nihil vitae dolorem deserunt repellendus impedit, velit nam ducimus, voluptatem officia reprehenderit. Exercitationem voluptas id atque debitis, consequatur adipisci nihil magnam vitae animi sit reiciendis repellendus earum suscipit!</p>
</article>
<section>
    <h4>Medios de pago</h4>
    <h5>Descuentos con las siguientes criptos</h5>
    <div class="contain-item-cripto">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
    <div>
        <a href="/medios-de-pago">Conocé otros medios de pago</a>
    </div>
</section>
<section class="questions">
    <h4>Preguntas y respuestas</h4>
    <h6>Buscá lo que querés saber</h6>
    <div>
        <form action="/" method="post">
        <input type="text">
        <i class="fas fa-search"></i>
    </form>
    </div>
    <h6>Haz tu pregunta al vendedor</h6>
    <textarea name="questions" id="questions" cols="30" rows="10" placeholder="Escriba una pregunta al vendedor"></textarea>
    <button class="button-send" type="submit">Enviar</button>
    <button class="button-delete" type="reset">Borrar</button>
</section>
<section class="valoraciones">
    <h4>Opiniones sobre este producto</h4>
    <h2>4.0</h2>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="far fa-star"></i>
    <p class="subtitle">Todas</p>
    <p class="subtitle">Buenas</p>
    <p class="subtitle">Malas</p>
    <article class="val">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="far fa-star"></i>
    <p class="title-val">Buena</p>
    <p class="informative">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vitae vero consequatur quasi qui! Dolore, quibusdam repellat excepturi itaque vel, at quisquam minus veniam atque fuga sequi libero expedita dicta.
    Iure perferendis delectus nostrum omnis sequi reprehenderit autem est cupiditate debitis, error, nemo impedit provident, voluptas at. Ea asperiores placeat ipsam voluptas nesciunt quos, officiis perspiciatis. Cumque facilis dolor in!</p>
    </article>
    <article class="val">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <p class="title-val">Muy buena</p>
        <p class="informative">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vitae vero consequatur quasi qui! Dolore, quibusdam repellat excepturi itaque vel, at quisquam minus veniam atque fuga sequi libero expedita dicta.
        Iure perferendis delectus nostrum omnis sequi reprehenderit autem est cupiditate debitis, error, nemo impedit provident, voluptas at. Ea asperiores placeat ipsam voluptas nesciunt quos, officiis perspiciatis. Cumque facilis dolor in!</p>
        </article>
        <article class="val">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <p class="title-val">Muy buena</p>
            <p class="informative">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vitae vero consequatur quasi qui! Dolore, quibusdam repellat excepturi itaque vel, at quisquam minus veniam atque fuga sequi libero expedita dicta.
            Iure perferendis delectus nostrum omnis sequi reprehenderit autem est cupiditate debitis, error, nemo impedit provident, voluptas at. Ea asperiores placeat ipsam voluptas nesciunt quos, officiis perspiciatis. Cumque facilis dolor in!</p>
            </article>
     <div>
         <a href="/">Ver todas las valoraciones</a>
     </div>
</section>
<section class="intereses">
    <h4>También te puede interesar</h4>
    <article>
        <img src="/images/whisky-Highland-Park.png" alt="whisky-Highland-Park">
        <div class="main-article"><i class="fas fa-plane"></i>
        <p class="price">$255.000</p>
        <p class="shipping">Envío Global Gratuito</p> 
        <h4 class="description">whisky Highland Park</h4>
        <form action="/carrito-de-compras" method="post">
            <button class="buy" type="submit">Comprar</button>
            </form>
    </div>
    </article> 
    <article>
        <img src="/images/whisky-Highland-Park.png" alt="whisky-Highland-Park">
        <div class="main-article"><i class="fas fa-plane"></i>
        <p class="price">$255.000</p>
        <p class="shipping">Envío Global Gratuito</p> 
        <h4 class="description">whisky Highland Park</h4>
        <form action="/carrito-de-compras" method="post">
            <button class="buy" type="submit">Comprar</button>
            </form>
    </div>
    </article> 
    <article>
        <img src="/images/whisky-Highland-Park.png" alt="whisky-Highland-Park">
        <div class="main-article"><i class="fas fa-plane"></i>
        <p class="price">$255.000</p>
        <p class="shipping">Envío Global Gratuito</p> 
        <h4 class="description">whisky Highland Park</h4>
        <form action="/carrito-de-compras" method="post">
            <button class="buy" type="submit">Comprar</button>
            </form>
    </div>
    </article> 
</section>
<section class="banner">
    <img class="banner" src="/images/nolvelties-banner.jpeg" alt="">
</section>
</main>
<footer>
    <section class="container-footer">
    <div class="logo-footer">
     <a href="/"><img src="/images/logo-home.png" class="logo-footer"></a>
    </div>  
    <article class="art-footer">
        <i class="fab fa-bitcoin"></i>
    <h4>CriptoCash</h4>
    <p class="text">Asocia tu cuenta en Apio y paga con tu billetera virtual. En el acto y sin recargo.</article>
    
     <article class="art-footer">
        <i class="fas fa-globe-americas"></i>
    <h4>Envíos globales</h4>
    <p class="text">¡No tenemos límites! Disfruta de tus bebidas estés donde estés.</p>
     </article>
   
    <article class="art-footer">
        <i class="fas fa-check-circle"></i>
    <h4>Excelencia verificada</h4></li>
    <p class="text">La exclusividad y el lujo de nuestros productos están certificados.</p>
    </article>

    </section>
    <div class="contain-redes-sociales">
        <a href="https://www.instagram.coml">
        <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/">
        <i class="fab fa-facebook-square"></i>
        </a>
        <a href="/images/gatito-wsp.jpeg">
        <i class="fab fa-whatsapp-square"></i>
        </a>
        <a href="https://twitter.com">
        <i class="fab fa-twitter-square"></i>
        </a>
    </div>   
    <a href="/terminos-y-condiciones" class="terminos-y-condiciones">Términos y condiciones</a>
</footer>
</body>
</html>