<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-filter.css">
    <title>Filter</title>
</head>
<body>
    <div class="filter">
    <h1>¿Usted es mayor de 18 años?</h1>
    <form action="/home" method="get">
        <button class="button-home">
            <a href="/home"> SI</a>
        </button>
    </form>
    <form action="#" method="get">
        <button class="button-home">
            <a href="https://www.icbf.gov.co/ser-papas/efectos-negativos-y-riesgos-del-consumo-de-alcohol-en-ninos-y-adolescentes#:~:text=En%20términos%20de%20salud%20mental,depresión%20e%2C%20incluso%2C%20riesgo%20de"> NO</a>
        </button>
    </form>
    </div>
    
</body>
</html>