<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/styles.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Mobile</title>
</head>
<body>
<header>
    <h1> Proyecto I </h1>
<nav>
    <ul>
        <li> <a href=""> Menú </a></li>
        <li> <a href=""> Inicio (Logo)</a></li>  
        <li> <a href=""> Búsqueda </a></li>
        <li> <a href=""> Carrito </a></li>
    </ul>
</nav>
</header>

<main>
<section class="productosDestacados">
    <article>
        <img src="/images/vodka-Trump.jpeg" alt="Vodka Trump">
        <p> Descripción del Producto </p>
        <p> <a href="/views/metodosDePago"> $333.333 </a></p>
        <p><a href="/views/carrito.html">  Comprar </a></p>
</article>
<article>
        <img src="/images/champagne-Krug.jpeg" alt="Champagne Krug">
             <!--Acá tenemos que hacer que se pasen las fotos así agregamos las 5 que van en cada artículo-->
        <p> Descripción del Producto </p>
        <p> <a href="/views/metodosDePago.html"> $44.444 </a></p>
        <p> <a href="/views/carrito.html"> Comprar </a> </p>
</article>

<article>
        <img src="/images/champagne-Louis-Roederer.webp" alt="Champagne Louis Roederer">
               <!--Acá tenemos que hacer que se pasen las fotos así agregamos las 5 que van en cada artículo-->
        <p> Descripción del Producto  </p>
        <p><a href="/views/metodosDepago.html"> $55.5555 </a></p>
        <p><a href="/views/carrito.html"> Comprar </a></p>
</article>

<article>
    <img src="/images/whisky-Highland-Park-A.jpeg" alt="Whisky Highland Park">
           <!--Acá tenemos que hacer que se pasen las fotos así agregamos las 5 que van en cada artículo-->
    <p> Descripción del Producto  </p>
    <p><a href="/views/metodosDepago.html"> $66.666 </a></p>
    <p><a href="/views/carrito.html"> Comprar </a></p>
</article>

<article>
     <img src="/images/whisky-LouisXIII-A.jpeg" alt="Whisky Louis XIII ">
          <!--Acá tenemos que hacer que se pasen las fotos así agregamos las 5 que van en cada artículo-->
    <p> Descripción del Producto  </p>
    <p><a href="/views/metodosDepago.html"> $77.777 </a></p>
    <p><a href="/views/carrito.html"> Comprar </a></p>
</article>
</section>

<section>
    <article>
<!--Acá va el carrusel con las Novedades 
cada imagen nos llevará al link de la receta-->
<img src="/images/NovedadA" alt="Novedad A">   
</article>
</section>

<section>
    <article> 
<!--Acá va el carrusel con las Recetas, entonces 
tenemos que buscarla manera para que en pantalla 
se vea una imagen a la vez < > -->
<img src="/images/RecetaB" alt="Imagen de la Receta B">
    </article>
</section>
</main>

<footer>
<nav>
    <ul>    
        <li><a href="/views/home.html"><img src="/public/images/Logo.png" alt="Logo"></a></li>
        <li> <a href="/views/productos.html"> Productos</a></li>
        <li><a href="/views/novedades.html"> Novedades</a></li>
        <li><a href="/views/Recetas.html"> Recetas </a></li>
    </ul>

<!--
Acá van los enlaces a las Redes Sociales 
ingresando desde los logos
-->
    <a href="/views/terminosYcondiciones.html"> Términos y condiciones</a>
</nav>

</footer>

</body>
</html>