<!DOCTYPE html>
<html lang="en">

    <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="https://kit.fontawesome.com/673f269efc.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="/css/styles-lista-de-productos.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
         <title>listado-de-productos</title>
    </head>
    <body>
        <header>
            <nav class="global-nav">
            <div class="contain-navbar-scroll">
        
        <!--ACÁ EMPIEZA EL MENÚ EMERGENTE-->
        
                <div id="mySidebar" class="sidebar">
                            <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">x</a>
                            <a href="/registro">Registrarse</a>
                            <a href="/login">Ingresar</a>
                            <a href="/novedades">Combos</a>
                            <a href="/detalle-de-productos">Productos</a>
                            <a href="/recetas"> Recetas</a>
                        </div>
                 <div id="main" class="open-btn hamburguer-menu" onclick="openNav()">
                    <i class="fas fa-bars"></i>
                </div>
        
        <script>
        function openNav(){
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }
        function closeNav(){
            document.getElementById("mySidebar").style.width = "0"
            document.getElementById("main").style.marginLeft = "0";
        }
        </script>
        
        <!-- ACÁ TERMINA EL BOTON DE MENU EMERGENTE-->           
        
                <div class="contain logo-home">
                     <a href="/"><img src="/images/logo-home.png" class="logo-home"></a> 
                </div>
                <div class="contain logo-instagram">
                   <a href="https://www.instagram.com">
                    <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="logo-nav">
                <a href="/"><img src="/images/logo-home.png" class="logo-nav"></a> 
           </div>
                <div class="navbar-tablet">
                    <ul class="nav-center">
                    <li><a href="/productos"> Productos</a></li>
                    <li><a href="/novedades">Combos</a></li>
                    <li><a href="/recetas">Recetas</a></li>
                    </ul>
                    <ul class="nav-rigth">
                <li><a href=""><i class="fas fa-search"></i></a></li>
                <li><a href="/perfil"><i class="fas fa-user"></i></a></li>
                <li><a href="/carrito-de-compras"><i class="fas fa-shopping-cart"></a></i></li>
                    </ul> 
                </div>
            
            </nav>
        </header>
        
    
    <main>
            <!--ACÁ VA EL CÓDIGO DEL CUERPO DE LA PÁG-->
            <div class="contenedor-master">
                <div class="articulo">
                    <div class="imagen-p"><img src="/images/whisky-Highland-Park.png" alt=""></div>
                    <div class="articulop">
                        <h2 class="titulo-articulo">whisky Highland Park</h2>
                        <p class="texto-articulo">La oscuridad y la luz son conceptos que existen en oposición, pero juntos crean un equilibrio perfecto e inspiraron nuestros lanzamientos de edición limitada del mismo nombre. The Dark 17 Year Old es un whisky para la reflexión; en él celebramos el otoño y el invierno en Orkney, un momento para escapar del clima salvaje afuera y reunirnos con amigos y familiares, compartiendo largas noches de conversación y risas alrededor del fuego. <p></p>

                            Un whisky de pura malta rico y potente, The Dark ha sido madurado exclusivamente en barricas de roble sazonado con jerez y se presenta en una botella de vidrio negro en relieve. El diseño del dragón serpiente se inspira en las grandes sagas nórdicas, abrazando tanto el sol alto del solsticio de verano como el sol bajo del solsticio de invierno, mientras que la escritura rúnica refleja las antiguas tallas de nuestros antepasados ​​vikingos, aquí en Orkney. <p></p>
                            
                            'Embernectar' es la palabra que acuñamos para describir el perfil de sabor único de este whisky. Definitivamente es más fácil que decir 'fogatas distantes, almendras tostadas, frutos secos, canela, madera de cedro, pastel de frutas y humo ligero'. <p></p>
                            
                            Hemos estado elaborando nuestro galardonado whisky en la destilería Highland Park en Kirkwall, Orkney, desde 1798. La edad, la experiencia y el respeto por la tradición pueden definir nuestro whisky, pero Orkney es lo que lo distingue. Aquí sucede algo mágico y el resultado es la salvaje armonía de sabores que se encuentra en nuestro whisky.</p>
                    </div>
                </div>
                <br>
                <br>
                <div class="articulo">
                    <div class="articulop">
                        <h2 class="titulo-articulo">whisky Highland Park</h2>
                        <p class="texto-articulo">
                            La oscuridad y la luz son conceptos que existen en oposición, pero juntos crean un equilibrio perfecto e inspiraron nuestros lanzamientos de edición limitada del mismo nombre. The Dark 17 Year Old es un whisky para la reflexión; en él celebramos el otoño y el invierno en Orkney, un momento para escapar del clima salvaje afuera y reunirnos con amigos y familiares, compartiendo largas noches de conversación y risas alrededor del fuego. <p></p>

                            Un whisky de pura malta rico y potente, The Dark ha sido madurado exclusivamente en barricas de roble sazonado con jerez y se presenta en una botella de vidrio negro en relieve. El diseño del dragón serpiente se inspira en las grandes sagas nórdicas, abrazando tanto el sol alto del solsticio de verano como el sol bajo del solsticio de invierno, mientras que la escritura rúnica refleja las antiguas tallas de nuestros antepasados ​​vikingos, aquí en Orkney. <p></p>
                            
                            'Embernectar' es la palabra que acuñamos para describir el perfil de sabor único de este whisky. Definitivamente es más fácil que decir 'fogatas distantes, almendras tostadas, frutos secos, canela, madera de cedro, pastel de frutas y humo ligero'. <p></p>
                            
                            Hemos estado elaborando nuestro galardonado whisky en la destilería Highland Park en Kirkwall, Orkney, desde 1798. La edad, la experiencia y el respeto por la tradición pueden definir nuestro whisky, pero Orkney es lo que lo distingue. Aquí sucede algo mágico y el resultado es la salvaje armonía de sabores que se encuentra en nuestro whisky.</p>
                    </div>
                    <div class="imagen-p"><img src="/images/whisky-Highland-Park.png" alt=""></div>
                </div>
                
                
            </div>

    </main>
    
    <footer>
        <section class="container-footer">
        <div class="logo-footer">
         <a href="/"><img src="/images/logo-home.png" class="logo-footer"></a>
        </div>  
        <article class="art-footer">
            <i class="fab fa-bitcoin"></i>
        <h4>CriptoCash</h4>
        <p class="text">Asocia tu cuenta en Apio y paga con tu billetera virtual. En el acto y sin recargo.</article>
        
         <article class="art-footer">
            <i class="fas fa-globe-americas"></i>
        <h4>Envíos globales</h4>
        <p class="text">¡No tenemos límites! Disfruta de tus bebidas estés donde estés.</p>
         </article>
       
        <article class="art-footer">
            <i class="fas fa-check-circle"></i>
        <h4>Excelencia verificada</h4></li>
        <p class="text">La exclusividad y el lujo de nuestros productos están certificados.</p>
        </article>
    
        </section>
        <div class="contain-redes-sociales">
            <a href="https://www.instagram.coml">
            <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/">
            <i class="fab fa-facebook-square"></i>
            </a>
            <a href="/images/gatito-wsp.jpeg">
            <i class="fab fa-whatsapp-square"></i>
            </a>
            <a href="https://twitter.com">
            <i class="fab fa-twitter-square"></i>
            </a>
        </div>   
        <a href="/terminos-y-condiciones" class="terminos-y-condiciones">Términos y condiciones</a>
    </footer>
    
    </body>
    </html>