<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/styles-listEdit.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/673f269efc.js" crossorigin="anonymous"></script>

    <title>Lista de productos</title>
</head>

<body>
    <main>
        <h2>Sección administración</h2>
        <article>
            <div class="box-img">
                <a href="/admin/create">
                    <i class="far fa-plus-square"></i>
                    <h4>Agregar nuevo producto</h4>
                </a>
            </div>
        </article>
        <%listProducts.forEach(product=> {%>
            <article class="">
                <div class="box-img">
                    <img src="/images/imgProducts/<%= product.imgProduct%>" alt="">
                </div>
                <div class="main-product">
                    <h4 class="nameProduct">
                        <%=product.title%>
                    </h4>

                    <a href="/admin/editProduct/<%= product.id%>">Editar producto</a>
                    <form method="POST" action="/admin/listEdit/<%= product.id%>?_method=delete">
                        <button type="submit">Eliminar producto</button>
                    </form>
                </div>
            </article>
            <%})%>

<a href="/"><h2> Volver al inicio</h2></a>


    </main>

</body>

</html>