<!DOCTYPE html>
    <html lang="en">

<head>

    <title>Home</title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/673f269efc.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles-header.css">
        <link rel="stylesheet" href="/css/styles-footer.css">
        <link rel="stylesheet" href="/css/styles-forms.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
        <link rel="icon" href="/images/favicon.ico" type="ico">

</head>

<body>
    <%- include('./partials/header') %>
    
        
<main class="login-form">
    <section class="login-form">
        <form method="post" action="/" typ class="section-login">
            <h4>Ingresá a tu cuenta</h4>
            <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su nombre de usuario">
            <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="Ingrese su contraseña"> 
            <button type="submit" class="boton-ingreso">Ingresar</button>
            <p><a href="/">¿Olvidaste tu contraseña?</a></p>
        </section>
    
</main>
  <section class="intereses">
    <h3>También te puede interesar</h3>
    <article>
        <img src="/images/tequila-Ley-925.png" alt="tequila-Ley-925">    
        <div class="main-article"><i class="fas fa-plane"></i>
        <p class="price">$188.000</p>
        <p class="shipping">Envío Global Gratuito</p> 
        <h4 class="description">Tequila Ley 924</h4>  
        <form action="/" method="post">
        <button class="buy" type="submit">Comprar</button>
        </form>
    </div> 
    </article> 
        
    <article>
        <img src="/images/vodka-Trump.png" alt="vodka-Trump">
        <div class="main-article"><i class="fas fa-plane"></i>
        <p class="price">$250.000</p>
        <p class="shipping">Envío Global Gratuito</p> 
        <h4 class="description">Vodka Trump</h4>
        <form action="/" method="post">
            <button class="buy" type="submit">Comprar</button>
            </form>
    </div>
    </article> 

    <article>
        <img src="/images/whisky-Highland-Park.png" alt="whisky-Highland-Park">
        <div class="main-article"><i class="fas fa-plane"></i>
        <p class="price">$255.000</p>
        <p class="shipping">Envío Global Gratuito</p> 
        <h4 class="description">whisky Highland Park</h4>
        <form action="/" method="post">
            <button class="buy" type="submit">Comprar</button>
            </form>
    </div>
    </article> 
   
    <article>
        <img src="/images/whisky-Louis-XIII.png" alt="whisky-Louis-XIII">
        <div class="main-article"><i class="fas fa-plane"></i>
        <p class="price">$230.000</p>
        <p class="shipping">Envío Global Gratuito</p> 
         <h4 class="description">Whisky Louis XIII</h4>
         <form action="/" method="post">
            <button class="buy" type="submit">Comprar</button>
            </form>
        </div>
        </article>
</section>
        
<%- include('./partials/footer') %>
        
</body>
</html>