<!DOCTYPE html>
<html lang="en">

<head>

    <title>Login</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/673f269efc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles-header.css">
    <link rel="stylesheet" href="/css/styles-footer.css">
    <link rel="stylesheet" href="/css/styles-forms.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="ico">

</head>

<body>
    <%- include('./partials/header') %>

        <main class="login-form">
            <section class="login-form">
                <div class="container-user-login">
                    <form method="post" action="/users/login" class="section-login">
                        <h4 class="login-title">Ingresá a tu cuenta</h4>
                        <input class="controls" type="text" name="email" id="email"
                            value="<%=locals.oldData ? oldData.email : null %>"
                            placeholder="Ingrese su correo electrónico">
                        <% if (locals.errors && errors.email) { %>
                            <p class="text-validation">
                                <%= errors.email.msg %>
                            </p>
                            <% } %>
                                <input class="controls" type="password" name="password" id="password"
                                    placeholder="Ingrese su contraseña">

                                <div class="wrapper">
                                    <div class="switch_box box_1">
                                        <label class="remember" for="remember_user">
                                            <input type="checkbox" class="switch_1" name="remember_user">
                                            Recuérdame
                                        </label>
                                    </div>
                                </div>

                                <button type="submit" class="boton-ingreso">Ingresar</button>
                                <p><a href="/">¿Olvidaste tu contraseña?</a></p>
                    </form>
                </div>
                <div class="container-admin-login">
                    <form action="/admin/" method="post" class="section-login">
                        <h4 class="login-admin-title">iniciar sesión como administrador</h4>
                        <label for="password-admin"></label>
                        <input class="controls" type="password" name="contraseña" id="contraseña"
                            placeholder="Ingrese su código">
                        <button type="submit" class="boton-ingreso">Ingresar</button>
                    </form>
                </div>
            </section>

        </main>


        <%- include('./partials/footer') %>

</body>

</html>