<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/673f269efc.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/styles-recipes.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
     <title>Recetas</title>
</head>
<body>
    <header>
        <nav class="global-nav">
        <div class="contain-navbar-scroll">
    
    <!--ACÁ EMPIEZA EL MENÚ EMERGENTE-->
    
            <div id="mySidebar" class="sidebar">
                        <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">x</a>
                        <a href="/registro">Registrarse</a>
                        <a href="/login">Ingresar</a>
                        <a href="/novedades">Combos</a>
                        <a href="/detalle-de-productos">Productos</a>
                        <a href="/recetas"> Recetas</a>
                    </div>
             <div id="main" class="open-btn hamburguer-menu" onclick="openNav()">
                <i class="fas fa-bars"></i>
            </div>
    
    <script>
    function openNav(){
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }
    function closeNav(){
        document.getElementById("mySidebar").style.width = "0"
        document.getElementById("main").style.marginLeft = "0";
    }
    </script>
    
    <!-- ACÁ TERMINA EL BOTON DE MENU EMERGENTE-->           
    
            <div class="contain logo-home">
                 <a href="/"><img src="/images/logo-home.png" class="logo-home"></a> 
            </div>
            <div class="contain logo-instagram">
               <a href="https://www.instagram.com">
                <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>

            <div class="navbar-tablet">
                <ul class="nav-center">
                <li><a href="/productos"> Productos</a></li>
                <li><a href="/novedades">Combos</a></li>
                <li><a href="/recetas">Recetas</a></li>
                </ul>
                <ul class="nav-rigth">
            <li><a href=""><i class="fas fa-search"></i></a></li>
            <li><a href="/perfil"><i class="fas fa-user"></i></a></li>
            <li><a href="/carrito-de-compras"><i class="fas fa-shopping-cart"></a></i></li>
                </ul> 
            </div>
        
        </nav>
    </header>
    
<!--ACÁ VAMOS A DARLE CUERPO A ESTA PÁG-->
<main>
    <section class="main-recetas">
        <!--MARGARITA-->
        <article class="margarita-receta"> 
            <p class= "título-receta">Margarita</p>
            <div class="receta-con-fondo">
               <div class="foto-receta"> <img src="/images/receta-margarita.png" alt="margarita"></div>
               <div class="fondo-humo"> <img src="/images/fondo-tragos.gif" alt="margarita" class="fondo-humo"></div>
               <div class= "descripcion-receta">
                <div class="ingredientes">
                    <h4 class="copy-ingredientes"> Ingredientes </h4>
                    <li>450ml de tequila</li>
                    <li>30ml de triple sec</li>
                    <li>30ml de jugo de lima recien exprimido</li>
                    <li>Lima</li>
                    <li>Sal</li>
                    <li>Hielos</li>
                </div>
                <p class= "procedimiento">Fijese que siempre es el doble de cantidad de tequila que de triple seco 
                    y de zumo de lima por lo que si quieres preparar una gran cantidad 
                    tan solo tienes que utilizar un vaso como medida y por cada medida 
                    de tequila añadir media de triple seco y media de zumo de lima</p>
            </div>
            </div>


        </article>
        <!--MARTINI-->
        <article class="martini-receta">
            <p class= "título-receta">Martini</p>
            <div class="receta-con-fondo">
                <div class="foto-receta"><img src="/images/receta-martini.png" alt="margarita"></div>
                <div class="fondo-humo"> <img src="/images/fondo-tragos.gif" alt="margarita" class="fondo-humo"></div>
                <div class= "descripcion-receta">
                    <div class="ingredientes">
                        <h4 class="copy-ingredientes"> Ingredientes </h4>
                        <li>30ml de Vermú Blanco Seco</li>
                        <li>30ml de Ginebra</li>
                        <li>2 aceitunas deshuesadas sin relleno</li>
                        <li>Corteza de limón</li>
                        <li>Abundante hielo</li>
                    </div>
                    <p class="procedimiento">Coloque la ginebra o el vodka y el vermut seco en un vaso mezclador. Agregar cubitos de hielo y mezclar durante 30 segundos con una bailarina hasta que el martini se enfríe. Colar la bebida en el vaso de martini previamente helado.</p>
                </div>
        </article>
        <!--TEQUILA SUNRISE-->
        <article>
            <p class= "título-receta">Tequila Sunrise</p>
            <div class="receta-con-fondo">
                <div class="foto-receta"><img src="/images/receta-tequila-sunrise.png" alt="tequila-sunrise"></div>
                <div class="fondo-humo"> <img src="/images/fondo-tragos.gif" alt="margarita" class="fondo-humo"></div>
                <div class= "descripcion-receta">
                        <h4 class="copy-ingredientes"> Ingredientes </h4>
                        <li>150ml de taza de jugo de naranja natural</li>
                        <li>450ml de tequila</li>
                        <li>6 cubitos de hielo</li>
                        <li>2 cucharadas de Granadina</li>
                        <li>1 a 2 naranjas cortada en rodajas</li>
                        <li>Cerezas para decorar ( 1 por vaso)</li>
                </div>
            </div>

            </div>
        </article>
        <!--BLOODY MARY-->
        <article>
            <p class= "título-receta">Bloody Mary</p>
            <div class="receta-con-fondo">
                <div class="foto-receta"><img src="/images/receta-bloody-mary.png" alt="bloody-mary"></div>
                <div class="fondo-humo"> <img src="/images/fondo-tragos.gif" alt="margarita" class="fondo-humo"></div>
                <div class= "descripcion-receta">
                    <h4 class="copy-ingredientes"> Ingredientes </h4>
                    <li>60 ml de Vodka</li>
                    <li>2 gotas de Tabasco (salsa picante)</li>
                    <li>3 gotas de salsa Perrins</li>
                    <li>1 pizca de sal de apio</li>
                    <li>1 toque de pimienta negra recién molida</li>
                    <li>10 ml. de caldo de carne</li>
                    <li>15 ml. de jugo de limón</li>
                    <li>180 ml. de zumo de tomate</li>
                    <li>Para decorar: apio y rodaja de limón</li>
                    <li>Hielo</li>
                </div>
    </article>
    </section>
</main>

<footer>
    <section class="container-footer">
    <div class="logo-footer">
     <a href="/"><img src="/images/logo-home.png" class="logo-footer"></a>
    </div>  
    <article class="art-footer">
        <i class="fab fa-bitcoin"></i>
    <h4>CriptoCash</h4>
    <p class="text">Asocia tu cuenta en Apio y paga con tu billetera virtual. En el acto y sin recargo.</article>
    
     <article class="art-footer">
        <i class="fas fa-globe-americas"></i>
    <h4>Envíos globales</h4>
    <p class="text">¡No tenemos límites! Disfruta de tus bebidas estés donde estés.</p>
     </article>
   
    <article class="art-footer">
        <i class="fas fa-check-circle"></i>
    <h4>Excelencia verificada</h4></li>
    <p class="text">La exclusividad y el lujo de nuestros productos están certificados.</p>
    </article>

    </section>
    <div class="contain-redes-sociales">
        <a href="https://www.instagram.coml">
        <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/">
        <i class="fab fa-facebook-square"></i>
        </a>
        <a href="/images/gatito-wsp.jpeg">
        <i class="fab fa-whatsapp-square"></i>
        </a>
        <a href="https://twitter.com">
        <i class="fab fa-twitter-square"></i>
        </a>
    </div>   
    <a href="/terminos-y-condiciones" class="terminos-y-condiciones">Términos y condiciones</a>
</footer>

</body>
</html>
</html>