<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/673f269efc.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/styles-recipes.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
     <title>Recetas</title>
</head>
<body>
    <header>
        <nav class="global-nav">
        <div class="contain-navbar-scroll">
    
    <!--ACÁ EMPIEZA EL MENÚ EMERGENTE-->
    
            <div id="mySidebar" class="sidebar">
                        <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">x</a>
                        <a href="/registro">Registrarse</a>
                        <a href="/login">Ingresar</a>
                        <a href="/novedades">Combos</a>
                        <a href="/detalle-de-productos">Productos</a>
                        <a href="/recetas"> Recetas</a>
                    </div>
             <div id="main" class="open-btn hamburguer-menu" onclick="openNav()">
                <i class="fas fa-bars"></i>
            </div>
    
    <script>
    function openNav(){
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }
    function closeNav(){
        document.getElementById("mySidebar").style.width = "0"
        document.getElementById("main").style.marginLeft = "0";
    }
    </script>
    
    <!-- ACÁ TERMINA EL BOTON DE MENU EMERGENTE-->           
    
            <div class="contain logo-home">
                 <a href="/"><img src="/images/logo-home.png" class="logo-home"></a> 
            </div>
            <div class="contain logo-instagram">
               <a href="https://www.instagram.com">
                <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="logo-nav">
            <a href="/"><img src="/images/logo-home.png" class="logo-nav"></a> 
       </div>
            <div class="navbar-tablet">
                <ul class="nav-center">
                <li><a href="/productos"> Productos</a></li>
                <li><a href="/novedades">Combos</a></li>
                <li><a href="/recetas">Recetas</a></li>
                </ul>
                <ul class="nav-rigth">
            <li><a href=""><i class="fas fa-search"></i></a></li>
            <li><a href="/perfil"><i class="fas fa-user"></i></a></li>
            <li><a href="/carrito-de-compras"><i class="fas fa-shopping-cart"></a></i></li>
                </ul> 
            </div>
        
        </nav>
    </header>
    
<!--ACÁ VAMOS A DARLE CUERPO A ESTA PÁG-->
<main>
    <section class="main-recetas">
        <article class="margarita-receta">
            <img src="/images/margarita.jpg" alt="margarita" class="margarita">
            <ul class="ingredientes">
                <h4 class="copy-ingredientes"> Ingredientes </h4>
                <li>450ml de tequila</li>
                <li>30ml de triple sec</li>
                <li>30ml de jugo de lima recien exprimido</li>
                <li>trozo de lima</li>
                <li>sal</li>
                <li>hielos</li>
            </ul>
            <p>Fijese que siempre es el doble de cantidad de tequila que de triple seco 
                y de zumo de lima por lo que si quieres preparar una gran cantidad 
                tan solo tienes que utilizar un vaso como medida y por cada medida 
                de tequila añadir media de triple seco y media de zumo de lima</p>
                <ol class="procedimiento">
                    <h4 class="copy-procedimiento"> procedimiento</h4>
                    <li>Empieza con la decoración de sal de las copas, lo que se conoce como escarchar. Pasa un trocito de lima por el borde para que se moje, mejor si es sobre todo por la parte exterior y finito para que después no quede una capa gruesa de sal.</li>
                    <li>Pon abundante sal en un plato y en forma de círculo, haciéndolo coincidir más o menos con el diámetro de la copa. Pasa las copas por encima de la sal para que quede pegada. </li>
                    <li>Exprime la lima para extraer su zumo, puedes utilizar un prensador de limas que resulta de lo más útil pero también te sirve cualquier exprimidor que utilices para limones o naranjas. Hay quien prefiere colarlo pero a mi me gusta más sin colar.</li>
                    <li>Si dispones de coctelera es lo ideal sobre todo si vas a preparar más de un coctel margarita aunque también puedes hacerlo en cualquier otro recipiente que puedas cerrar y agitar.</li>
                    <li>Echa en la coctelera unos hielos hasta la mitad y vierte el zumo de lima junto con el tequila y el triple seco. Ciérrala y agita muy bien hasta que la coctelera o el recipiente estén bien fríos.</li>
                    <li>Sirve el coctel margarita en las copas que habíamos decorado pero sin dejar que caiga el hielo.</li>
                </ol>
        </article>
        <article class="martini-receta">
        <img src="/images/drymartini.jpg" alt="margarita" class="margarita">
            <ul class="ingredientes" >
                <h4 class="copy-ingredientes"> Ingredientes </h4>
                <li>30ml de Vermú Blanco Seco (puede ser Martini Bianco)</li>
                <li>30ml de Ginebra</li>
                <li>2 aceitunas deshuesadas sin relleno de anchoa ni pimiento</li>
                <li>Una corteza de limón</li>
                <li>También vamos a necesitar abundante hielo, una cucharita mezcladora y una copa de cóctel </li>
            </ul>
                <ol class="procedimiento" >
                    <h4 class="copy-procedimiento">procedimiento</h3>
                    <li>El primer paso es enfriar todos los elementos que vayamos a usar incluidas las copas y las bebidas alcohólicas.</li>
                    <li>El Dry Martini perfecto se prepara directamente en la copa. Nosotros somos partidarios de remover en lugar de agitar, por ello recomendamos que la copa esté bien fría. De esta forma el hielo no se derretirá mientras lo preparamos directamente en la copa.</li>
                    <li>Una vez tengamos el hielo, lo primero que serviremos será la ginebra. Recordemos que, para hacer honor al nombre del cóctel, debemos elegir una versión seca.</li>
                    <li>Acto seguido añadiremos el Vermú Blanco Seco, con mucho cuidado para que aún no se mezclen.</li>
                    <li>Añadimos las aceitunas –pinchadas en palillos– y con la cuchara coctelera removemos durante 15 segundos.</li>
                    <li>Apretamos la corteza de limón sobre la copa por los bordes haciendo presión. La corteza puedes añadirla luego al cóctel o no. ¡A gusto del consumidor!</li>
                </ol>
        </article>
        <article>
            <img src="/images/tequila-sunrise.jpg" alt="tequila-sunrise" class="tequila-sunrise">
            <ul class="ingredientes">
                <h4 class="copy-ingredientes"> Ingredientes </h4>
                <li>150ml de taza de jugo de naranja natural</li>
                <li>450ml de tequila</li>
                <li>6 cubitos de hielo</li>
                <li>2 cucharadas de Granadina</li>
                <li>1 a 2 naranjas cortada en rodajas</li>
                <li>Cerezas para decorar ( 1 por vaso)</li>
            </ul>
                <ol class="procedimiento">
                    <h4 class="copy-procedimiento">procedimiento</h4>
                    <li>Vierte el tequila y el jugo de naranja en un vaso alto lleno de cubitos de hielo y revuélvelo.</li>
                    <li>Agrega lentamente la granadina por el borde interior del vaso. Al principio se hundirá, pero luego se elevará gradualmente para mezclarse con el líquido en el fondo del vaso</li>
                    <li>Decora con media rodaja, una cáscara de naranja y una guinda.</li>
                    <li>Pon una bombilla y disfruta el original sabor del trago!</li>
                </ol>
        </article>
        <article>
            <img src="/images/bloody-mary.jpg" alt="bloody-mary" class="bloody-mary">
            <ul class="ingredientes">
                <h4 class="copy-ingredientes"> Ingredientes </h4>
                <li>60 ml de Vodka</li>
                <li>2 gotas de Tabasco (salsa picante)</li>
                <li>3 gotas de salsa Perrins o salsa Worcestershire</li>
                <li>1 pizca de sal de apio</li>
                <li>1 toque de pimienta negra recién molida</li>
                <li>10 ml. de caldo de carne</li>
                <li>15 ml. de jugo de limón</li>
                <li>180 ml. de zumo de tomate</li>
                <li>Para decorar: un tronco de apio y una rodaja de limón</li>
                <li>Hielo</li>
            </ul>
            <ol class="procedimiento">
            	<h4 class="copy-procedimiento">procedimiento</h4>
                <li>Añadimos el vodka (para un vaso grande aproximadamente 50-60 ml), la salsa Worcestershire, el Tabasco y el zumo de limón. Le damos nuestro toque con el sal de apio, el caldo de buey y la pimienta negra recién molida.</li>
                <li>En el momento que tengamos todo en el vaso vamos a remover utilizando una varilla para cócteles o cualquier utensilio alargado que tengamos a mano. Finalmente completamos el vaso con el zumo de tomate.</li>
                <li>Añadimos bastantes cubitos de hielo enteros en un vaso grande, hasta que cubra el mismo. Es importante que el hielo no se derrita mucho y servir en un vaso largo.</li>
                <li>Una vez esté todo mezclado se sirve el Bloody Mary en un vaso alto y de gran capacidad y se remata con un tallo de apio y una rodaja de limón como decoración. También podemos cubrir los bordes de algunos vasos con jugo de limón. Simplemente frota una rodaja de limón sobre los bordes de los vasos.</li>
            </ol>
    </article>
    </section>
</main>

<footer>
    <section class="container-footer">
    <div class="container-logo">
     <a href="/"><img src="/images/logo-home.png" class="logo-home"></a>
    </div>  

<div class="nav-footer">
<div class="nav-footer-column">       
<h2 class="header-links"><a href="/productos">Productos</h2></a>
    <ul class="footer-tablet">  
        <li><a href="#" class="link">Procucto A</a></li>
        <li><a href="#" class="link">Producto B</a></li>
        <li><a href="#" class="link">Producto C</a></li>
        <li><a href="#" class="link">Producto D</a></li>
    </ul>
</div>
<div class="nav-footer-column"> 
    <h2 class="header-links"><a href="/recetas">Recetas</h2></a>
    <ul class="footer-tablet">      
        <li><a href="#" class="link">Receta A</a></li>
        <li><a href="#" class="link">Receta B</a></li>
        <li><a href="#" class="link">Receta C</a></li>
        <li><a href="#" class="link">Receta D</a></li>
        <li><a href="#" class="link">Receta E</a></li>
    </ul>
</div>    
<div  class="nav-footer-column">
<h2 class="header-links"><a href="/contacto">Contacto</h2></a>
    <ul class="footer-tablet">
        <li><a href="#" class="link">Enlace A</a></li>
        <li><a href="#" class="link">Enlace B</a></li>
        <li><a href="#" class="link">Enlace C</a></li>
        <li><a href="#" class="link">Enlace D</a></li>
    </ul>
</div>

<div class="nav-footer-column">
<h2 class="header-links"><a href="/nosotros">Nosotros</a></h2>
    <ul class="footer-tablet">
         <li><a href="#" class="link">Enlace A</a></li>
         <li><a href="#" class="link">Enlace B</a></li>
         <li><a href="#" class="link">Enlace C</a></li>
         <li><a href="#" class="link">Enlace D</a></li>
    </ul>
</div>

</div>     

<div class="contain-redes-sociales">
    <a href="https://www.instagram.com">
    <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.facebook.com/">
    <i class="fab fa-facebook-square"></i>
    </a>
    <a href="/images/gatito-wsp.jpeg">
    <i class="fab fa-whatsapp-square"></i>
    </a>
    <a href="https://twitter.com">
    <i class="fab fa-twitter-square"></i>
    </a>
</div>
    </section>   
    <a href="/terminos-y-condiciones" class="terminos-y-condiciones">Términos y condiciones</a>
</footer>

</body>
</html>
</html>