/* START UNIVERSAL*/
*{
    box-sizing: border-box;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}
/* END UNIVERSAL*/


/* START CUERPO EN GRAL */
body{
    display: block;
    margin: 0 auto;
}

div{
    display: block;
}
.box-add{
    display: flex;
}
.box-add:hover a{
    background:rgb(187, 139, 18);
}
article.box-add{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
section.admin {
    background: white;
    padding: 24px;
    border: solid gray 1px;
    margin: 50px;
    background: #f8f8f870;
}
.title{
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: black;
}
a {
    text-decoration: none;
    color: black;
}
a.admin {
    padding: 20px;
    display: block;
    width: 90%;
    margin: 50px auto;
    text-align: center;
    text-decoration: none;
    color: black;
    border: solid gray 1px;
    cursor: pointer;
    transition: 200ms all ease
}
a.admin:hover{
    color: #d5b38b
}
main{
    width: 96%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row
}

.container-buttons{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.boton{
    width: 250px;
    height: 50px;
}

button.edit-button {
    border: none;
    color: black;
    background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}
button.boton.container-button {
    background: none;
    border: solid 1px;
}
.edit-button:hover {
    background-position: 0;
  }
.delete-button {
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: solid 1px crimson;
    background: white;
    color: black;
    background-image: -webkit-linear-gradient(45deg, crimson 50%, transparent 50%);
    background-image: linear-gradient(45deg, crimson 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}
.delete-button:hover {
    background-position: 0;
}

a.back{
    border: none;
    justify-content: center;
}
a.back:hover{
    border: none;
    color: #d5b38b;
}
img{
    width: 100%;
}
h2{
    font-size: xx-large;
    width: 100%;
    color: black
}
article{
    display: inline-block;
    width: 350px;
    background-color: white;
    text-align: center;
    margin: 5px;
    padding: 5px;
    align-content: stretch;
}
article {
    padding: 12px;
    border: solid 1px gray;
}
.box-img{
    max-width: 200px;
    margin: 0 auto;
}

form{
    margin-top: 4px;
}

/* END SECCIÓN DE ARTÍCULOS*/

/* ACÁ COMIENZAN LAS MEDIA QUERIES */

@media(min-width: 0px){
    article{
        max-width: 80%;
    }
}

@media(min-height: 450px){
}

@media(min-width: 768px){
    
    article{max-width: 40%;
}
}
@media(min-width: 1024px){
    article{
        max-width: 30%;
    }
}
@media(min-width: 1440px){
    article{
        max-width: 22%;
    }
}