/* UNIVERSAL*/
*{  
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    flex-wrap: wrap;
}
/* UNIVERSAL*/


/* CUERPO EN GRAL */
div{
    display: flex;
}
body{
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    background-image: url("/images/background.png");
    background-size: auto;
}
main{
    display: block;
    width: 100vw;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
img{
    width: 100%;
}
li{
    text-decoration: none;
}
h3{
    color: whitesmoke;
}
i{
    font-size: 30px;
    color: whitesmoke;
    padding: 8px;
}

/* CUERPO EN GRAL */


/* ACÁ COMIENZA LA NAVBAR TOP*/
.contain-navbar-scroll{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: transparent;
    background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, transparent);
    position: fixed;
    top: 0;
    left: 0;
    line-height: 3rem;
    width: 100%;
    height: 150px;
    align-items: center;
    z-index: 1;
}

.hamburguer-menu{
display: inline-block;
font-size: 40px;
color: whitesmoke;
border-radius: 5%;
background-color: transparent;
}

.logo-instagram{
    display: inline-block;
    font-size: 40px;
    color: whitesmoke;
}

img.logo-home{
  width: 80px;
}

/* ACÁ TERMINA LA NAVBAR TOP*/

/* ACÁ COMIENZA EL MENÚ EMERGENTE*/

.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: black;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

div#mySidebar{
    display: block;
    text-align: center;
}
a.close-btn{
    position: relative;
    right: 80px;
    font-size: 40px;;
    display: inline-block;
}

.sidebar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: goldenrod;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover{
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0%;
    right: 25px;
    font-size: 36px;margin-left: 50px;
}

a.closebtn{
    display: flex;
    justify-content: end;
    font-size: 40px;
    padding-right: 30px;
}

.openbtn{
    font-size: 20px;
    cursor: pointer;
    background-color:#111;
    color: whitesmoke;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover{
    background-color: #444;
}

#main{
    transition: margin-left 0.5s;
    padding: 16px;
}

/* ACÁ TERMINAEL MENÚ EMERGENTE*/

/* ACÁ COMIENZA LA NAVBAR QUE SE ABRE EN TABLET*/
img.logo-nav{
    display: none;
}
.navbar-tablet{
display: flex;
justify-content: space-between;
margin: 0%;
width: 100vw;
}

ul.nav-center{
display: flex;
justify-content: space-around;
}

ul.nav-center li,
ul.nav-rigth li{
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.navbar-tablet ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: flex;
}

.navbar-tablet ul li a{
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    color:whitesmoke;
}

.navbar-tablet ul li i{
    font-size: 1em;
    color: whitesmoke;
    margin: 10px;
}

/*SECCIÒN RECOMENDADOS*/
section.intereses{
    display: none;
}

/* DETALLES DE ARTÍCULO*/

.article-detalle{
    color: whitesmoke;
    margin-top: 30%;
    width: 90%;
    margin-top: 30%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
    padding: 2%;
}

.selector{
background: black;
color: whitesmoke;
margin: 3px 0;
border-radius: 5px;
padding: 5px 1px 10px 5px;
display: flex;
justify-content: space-between;
border-bottom: solid gold 0.2px;
}

.caracteristica{
    width: 50%;
}
select{
    width: 50%;
    border-radius: 5px;
    color: whitesmoke;
    background:rgba(0, 0, 0, 0.7);
    text-align: center;
    border: none;
}

p.off{
    color: #1bad20;
}
h4.price{
    font-size: 36px;
    font-weight: 300;
    width: 100%;

}
p.payment-details{
    color: grey;
    width: 100%;

}
.button-stock{
    padding: 1px;
    width: 90px;
    background-color: orange;
    justify-content: center;
}
.box,
article.caracteristicas{
    padding: 1%;
    display: flex;
    margin: 10px 0;
}
.box a{
    text-decoration: none;
    color: #3483fa;
    font-size: x-small;
    margin-left: 20px;
    font-weight: 300;
    width: 90%;
}
.box-item{
    display: flex;
 
    align-items: center;
}
.title-green{
    color: #1bad20;
}
i {
    color: #1bad20;
}
p.informative{
    font-size: 16px;
    color: grey;
    text-align: center;
    width: 90%;
    font-weight: 300;
}
h4.title{
    margin-bottom: 10px;
}

.contain-buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
}

form{
    width: 100%;
    display: flex;
    padding: 6px;
    flex-direction: column;
    align-items: center;
}

button.buy{
    padding: 10px;
    border-radius: 7px;
    color: white;
    border: 1px solid;
    background-color: #ffeb00f0;
    width: 90%;
}
button.add{
    padding: 10px;
    border-radius: 7px;
    width: 90%;
    background: white;
    color: #ffeb00f0;
    border: solid 1px #ffeb00f0;
}
p.title-grey{
    display: inline-block;
color: grey;
text-align: center;
font-weight: 300;
font-size: 16px;
}


i.fas.fa-user-shield{
    font-size: 16px;
    color: grey;
}

.compra-protegida{
text-decoration: none;
color: #3483fa;
font-size: x-small;
font-weight: 300;
}
.add-favorite{
    display: inline-block;
    width: 60%;
}
.share{
    width: 30%;
    display: inline-block;
    transition: all 450ms ease;
}
.share i,
.add-favorite i{
  font-size: 22px;
  color: #ffeb00f0;

}
.add-favorite label,
.share label{
    font-size: 16px;
}
.add-favorite input, 
.share input{
    display: none;
}
/*SECCIÓN CARACTERÍSTICAS DETALLADAS*/

section.caracteristicas{
    width: 90%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
    display: flex;
    padding: 2%;
}

article.caracteristicas.simple{
    width: 80%;
    justify-content: center;
    border-radius: 5px;
    border: solid 1px #383535;
    margin: 5px auto;
}

h4{
    font-weight: 400;
    margin: 10px 0;
}
.box-link{
    width: 90%;
    border-bottom: solid 1px #383535;
    padding: 10px;
    margin: 10px auto;
}
.box-link a{
    color: #3483fa;
    font-size: smaller;
    font-weight: 300;
}
article.caracteristicas.icons{
    display: flex;
    justify-content: space-around;
    width: 80%;
    border-radius: 5px;
    border: solid 1px #383535;
    margin: 5px auto;
}
.icon-tabla{
    display: flex;
    width: 40%;
    align-self: center;
    flex-direction: column;
    align-content: center;
}

.icon-tabla i{
    text-align: center;
}
.icon-tabla h5{
    font-size: xx-small;
}
p.subtitle{
    text-align: center;
    display: flex;
    align-content: center;
}
.title-green{
    align-content: center;
    display: flex;
}
ul.barra-reput{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 10px auto;
    width: 90%;
    align-items: center;
}
li.barra-color{
    height: 8px;
    width: 60px;
    background: whitesmoke;
}

li.barra-color.pink{
    background: #fff0f0;
}

li.barra-color.salmon{
    background: #fff5e8;
}
li.barra-color.yellow{
    background: #fffcda;
}

li.barra-color.lime{
    background: #f1fdd7;
}
li.barra-color.green{
    background: #39b54a;
    height: 12px;
}
.box-reput{
    width: 33%;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    border-left: solid #383535 1px;
}

.box-reput h6{
    color: #1bad20;
    font-size: x-large;
    font-weight: 300;
    width: 90px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.box-reput.left{
    border-left: none;
}
p.informative-L{
    font-size: small;
    font-weight: 200;
    padding: 15px;
    border: solid 1px #383535;
    background: black;
    border-radius: 5px;
}
section.medios-de-pago{
    pad: 1%;
}
section.medios-de-pago h5{
    font-weight: 300;
    margin-bottom: 10px;
}

.contain-logos-cripto{
    margin: 0 auto;
    border: 1px solid #383535;
    border-radius: 5px;
    padding: 15px;
    background: black;
}
form.search{
    display: flex;
    width: 70%;
    flex-direction: initial;
    justify-content: space-around;
    background: white;
    padding: 0;
    border-radius: 15px;
    margin: 10px auto;
}
form.search i{
    color: gray;
    font-size: 25px;
}
form.search input{
    border: none;
    background: white;
}
h4.text-gray{
    color: gray;
}
textarea#questions{
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}
section.questions{
    width: 90%;
    margin: 0 auto;
}

.buttons-questions{
    width: 90%;
    display: flex;
    flex-direction: initial;
    justify-content: space-around;
}
.buttons-questions button{
    width: 48%;
    border-radius: 5px;
    padding: 5px;
}

.button-send{
border-radius: 7px;
color: white;
border: 1px solid;
background-color: #ffeb00f0;
}

.button-delete{
    border-radius: 7px;
    background: white;
    color: #ffeb00f0;
    border: solid 1px #ffeb00f0;
    margin-right: 5px;
}
.main-valoraciones{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}
section.valoraciones i{
    color: gold;
    font-size: 20px;
}
section.valoraciones i.title{
    font-size: 30px;
}
.stars-title{
    width: 100%;
    margin: 0px auto 5px; 
    justify-content: center;
}
h2.valoracion-num{
    font-weight: 300;
    font-size: 36px;
    margin-left: 20px;
}
p.text-valoracion{
    font-size: 16px;
    color: grey;
    font-weight: 300;
    padding: 10px;
}
article.val{
    border-bottom: solid 1px #383535;
    border-top: solid 1px #383535;
}
 


/* ACÁ COMIENZA EL FOOTER */

footer{
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    width: 100%;
}

footer img.logo-footer{
    width: 70px;
    position: absolute;
}

section.container-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

footer article{
    align-items: baseline;
    display: flow-root;
    color: whitesmoke;
}

footer i{
    font-size: 2em;
    color: whitesmoke;
}

.contain-redes-sociales{
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    width: 100%;
    margin: 0 10px;
    font-size: 10px;
}

h2.header-links{
    color: whitesmoke;
    display: inline-block;
    margin: 8%;
}

img.logo-home{
    width: 120px;
    display: inline-block;
}

footer ul{
    list-style-type: none;
}

a.link{
    color: goldenrod;
    text-align: center;
    margin: 0 5px;
    display: inline-block;
}
.terminos-y-condiciones{
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1%;
    border-top: gold solid 1px;
}

/* ACÁ TERMINA EL FOOTER */
@media(min-width: 0px){
  
}

@media(min-height: 450px){
  
}

@media(min-width: 768px){
    
    ul.footer-tablet{
        display: flex;
        justify-content: space-around;
    }
    section.information-seller{
        width: 100%;
    }
    li.barra-color{
        width: 90px;
    }
    textarea#questions{
        width: 90%;
    }
    footer article{
        max-width: 28%;
    }
    footer p.text {
        font-size: 0.8em;
    }
}
@media(min-width: 1024px){
    main{
        display: flex;
    }
    .container-images{
        max-width: 500px;
    }
    .article-detalle{
        display: flex;
        justify-content: space-around;
    }
    .selector{
        width: 300px;
    }
    .contain-buttons{
        margin-left: 0 ;
        padding-left: 0; 
    }
    h3.title-product{
        width: 100%;
    }

    section.main-product{
        max-width: 40%;
        padding-left: 10px;
        border: grey 1px solid;
        border-radius: 5px;
    }

    button.buy,
    button.add{
        width: 280px;
    }
    .contain-caracteristicas{
        max-width: 60%;
     
    }
    section.caracteristicas{
        position: relative;
    }
    section.information-seller{
        border: 1px solid grey;
        border-radius: 5px;
        margin-right: 20px;
        position: absolute;
        right: 0px;
        top: 0px;
        max-width: 39%;
    }
    section.caracteristicas h4{
        width: 100%;
        margin: 10px 0 10px 10px;
    }
    li.barra-color{
        width: 50px;
    }
    .box-link.desktop{
        border: none;
    }
    .block-3{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    section.medios-de-pago{
        max-width: 41%;
        padding: 20px 5px;
        border: solid 1px grey;
        margin-top: 20px;
        border-radius: 5px;
    }
    article.caracteristicas.text{
        max-width: 50%;
    }
    footer article{
    max-width: 30%;
    }

}
@media(min-width: 1440px){
    section.medios-de-pago{
        margin-right: 45px;
    }
    section.information-seller{
        margin-right: 30px;
        right: 45px;
    }
    section.main-product{
        margin-left: 25px;
    }
}
