/* START UNIVERSAL*/
*{
    box-sizing: border-box;
    flex-wrap: wrap;
}
/* END UNIVERSAL*/


/* START CUERPO EN GRAL */
div{
    display: block;
}


main{
    display: flex;
    width: 100vw;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

img{
    width: 100%;
}

li{
    text-decoration: none;
}

/* END CUERPO EN GRAL */


/* START BOTON COMPRAR*/

div.button-shopp{
    display: flex;
    flex-direction: row-reverse;
    background-position: right;
    padding: 20px;
    margin-top: 80px;
}

button.button-shopp{
    display: inline-block;
    align-self: flex-start;
    margin-top: 60%;
    padding: 8px;
    font-size: 24px;
    font-weight: bolder;
    position: fixed;
    background-color: gold;
    border-radius: 20px;
}

button.button-shopp a{
    color: black;
    position: relative;
}

/* END BOTON COMPRAR*/

/* START SECCIÓN DE ARTÍCULOS*/

div.articulo{
    display: flex;
    width: 100%;
}

div.imagen-p img{
    width: 100%;
    border-radius: 10px;
}

div.imagen-p{
    width: 50%;
}

div.articulop{
    width: 50%;
    color: white;
    padding: 10px;
}

h2.titulo-articulo{
    height: 5%;
    text-align: center;
}

/* END SECCIÓN DE ARTÍCULOS*/

/* ACÁ COMIENZAN LAS MEDIA QUERIES */

@media(min-width: 0px){
}

@media(min-height: 450px){
}

@media(min-width: 768px){
}

@media(min-width: 1024px){
}