/* START UNIVERSAL*/
*{  
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    flex-wrap: wrap;
}
/* END UNIVERSAL*/

/* START CUERPO EN GRAL */

main{
   
    width: 100vw;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

img{
    width: 100%;
}

li{
    text-decoration: none;
}

h3{
    color: whitesmoke;
}

/* END CUERPO EN GRAL */

/* START MAIN */

main{
    color: whitesmoke;
    width: 100%;
}

nav{
    width: 100%;
    background: #00000014;
    display: flex;
    padding: 5px;
    z-index: 20;
}

ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background: rgba(0, 0, 0, 0.9);
}

div.car{
    width: 95%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background: #00000008
}

div.container-img{
    width: 80px;
    height: 80px;
}

article{
    border-bottom: solid 1px grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: #3483fa;
    font-size: xx-small;
    font-weight: 300;
    width: 70%;
}

button.delete{
    width: 20%;
    background: none;
    color: #3483fa;
    font-size: xx-small;
    font-weight: 200;
    border: none;
}

article h5,
article p{
    width: 100%;
    font-weight: 300;
    color: gray;
} 

article p {
    font-size: xx-small;
    margin: 20px auto;
}

div.main-article{
    width: 70%;
    padding-left: 10px;
    justify-content: space-between;
   
}

div.box,
div.box-foot,
div.box-shipping{
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

div.box-foot{
    border-top: solid grey 1px;
}

select#u{
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: grey;
    background: #00000014;
    text-align: center;
}

h4{
    width: 60%;
    display: inline-block;
    text-align: end;
}

.fas.fa-ellipsis-v{
    width: 8%;
    color: #444;
    text-align: end;
}

div.box-shipping a{
    font-size: small
}

h5.shipping-price{
    width: 30%;
    font-weight: 300;
    color: green;
    display: inline-block;
    text-align: end;
    font-size: x-large;
}

.box-shipping{
    margin-bottom: 30px;
    border-bottom: solid 1px grey;
}

h4.total{
    width: 45%;
    display: inline-block;
}

h4.total.text{
    text-align: start;
}

.box.total{
    padding:5px 0 10px;
}

section.total{
    margin-top: 50px;
}

form{
    width: 100%;
    display: flex;
    padding: 6px;
    align-items: center;
}

div.buy{
    display: flex;
    align-content: center;
    width: 100%;
}
button.buy{
    padding: 10px;
    border-radius: 7px;
    color: white;
    border: 1px solid;
    background-color: orange;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    transition: all 500ms ease;
}
button.buy:hover{
    background-color: #b57500;
    color: white;
    border: none;
}
/*SECCION INTERESES,SE ABRE EN DESKTOP 1440
section.intereses{
    border-top: solid goldenrod 1px;
    display: flex;
    justify-content: space-around;
}

section.intereses article{
    max-width: 20%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 10px;
}

section.intereses article img{
    width: 200px;
}

section.intereses h3{
    width: 100%;
    color: whitesmoke;
    font-size: 30px;
}

/* START LAS MEDIA QUERIES */

@media(min-width: 0px){    
   section.intereses{
       display: none;
   }
}

@media(min-height: 450px){
}

@media(min-width: 768px){ 

    div.container-img{
        width: 150px;
        height: 150px;
    }
    div.car{
        margin: 10px auto;
    }
    div.buy{
        display: block;
        text-align: end;
    }
    
}

@media(min-width: 1024px){
    section.intereses{
        display: flex;
    }
    article p,
    a,
    button.delete{
        font-size: small;
    }
   
}
/* END MEDIA QUERIES */