/* START UNIVERSAL*/
*{
    box-sizing: border-box;
    flex-wrap: wrap;
}
/* END UNIVERSAL*/


/* START CUERPO EN GRAL */
main{
    margin-top: 30%;
}
img{
    width: 100%;

}
img#avatar{
    width: 200px;
    height: 200px;
}

h4.profilename{
    color: rgb(37, 37, 37);
    text-align: center;
}
#box-img{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    padding: 10px;
}
p{
    color: grey;
    font-size: medium;
    text-align: center;
    margin: 4px auto;
    margin-top: 20px;
}

a.link-profile,
p.subtitle{
    display: block;
    color: rgb(36, 163, 42);
    text-decoration: none;
    text-align: center;
    margin: 4px auto;
}

/* END CUERPO EN GRAL */


/* START MEDIA QUERIES */

@media(min-width: 0px){
}

@media(min-height: 450px){
}

@media(min-width: 768px){
}

@media(min-width: 1024px){
    main{
        margin-top: 0;
    }
}

/* END MEDIA QUERIES */