/* UNIVERSAL*/
*{
    box-sizing: border-box;
    flex-wrap: wrap;
}
div{
    display: block;
}
body{
    display: block;
    font-family: 'Bebas Neue', 'Roboto', sans-serif;
    margin: 0%;
    background-image: url("/images/background.jpg");
    background-size: contain;
}
main{
    display: block;
    width: 100vw;
}

img{
    width: 95vw;
}

/* HEADER acá comienza el código de la nav-bar, para cambiarlo hacelo dentro de los comentarios */

.contain-navbar-scroll{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: transparent;
    background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, transparent);
    position: fixed;
    top: 0;
    left: 0;
    line-height: 3rem;
    width: 100%;
    height: 80px;
    align-items: center;
}

.hamburguer-menu{
display: inline-block;
font-size: 40px;
color: whitesmoke;
border-radius: 5%;
background-color: transparent;
}

.logo-instagram{
    display: inline-block;
    font-size: 40px;
    color: whitesmoke;
}

img.logo-home{
  width: 80px;
}

.navbar-tablet{
display: flex;
width: 100%;
justify-content: space-between;
margin: 0%;
margin-top: 10%;
}

ul.nav-center{
display: flex;
margin: 10px;
justify-content: space-between;
}

ul.nav-center li,
ul.nav-rigth li{
    display: inline-block;
    padding-right: 25px;
    text-align: center;
    margin: 10px;
}

.navbar-tablet ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: flex;
}

.navbar-tablet ul li a{
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    color:whitesmoke;
}

.navbar-tablet ul li i{
    font-size: 30px;
    color: whitesmoke;
    margin: 10px;
}

/* HEADER acá termina el código de la nav-bar, para cambiarlo hacelo dentro de los comentarios */

.productos-destacados{
   font-family: 'Anton', sans-serif ;
   background-color: transparent;
   color: white;
   font-weight: bold;
   font-size: x-large; 
}

footer{
    text-decoration: none;
    font-size: x-large;
    background-image: url("../images/fondo-nav-dorado.jpg");
    text-transform: uppercase;
    text-align: center;
}
/* barra horizontal con flex*/
.nav.d-block{
    display: flex;
    justify-content: center;
}

/* espacio entre los elementos de la ul*/
.container ul li a{
    margin: 8px;
    text-decoration: none;
    color: black;
}
/* efecto de pasar sobre el elemento se puede sacar si no gusta */
a:hover{
 
    background-color: blue;
}


