/* START UNIVERSAL*/
*{
    box-sizing: border-box;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}
/* END UNIVERSAL*/


/* START CUERPO EN GRAL */
body{
    display: block;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    background: #878b8f;
}
a.admin{
    padding: 20px;
    display: block;
    width: 90%;
    margin: 50px auto;
    text-align: center;
    text-decoration: none;
    color: #df3e22;
    border-bottom: #df3e22 solid 1px;
}
div{
    display: block;
}

section.admin{
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}
.title{
    justify-content: center;
    display: flex;
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: black;
}
main{
    width: 96%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

img{
    width: 100%;
}
h2{
    font-size: xx-large;
    
    width: 100%;
    color: #df3e22;
    border-bottom: solid 2px #df3e22;
}
article{
    display: inline-block;
    width: 350px;
    background-color: white;
    text-align: center;
    margin: 5px;
    padding: 5px;
    align-content: stretch;
}

.box-img{
    max-width: 200px;
    margin: 0 auto;
}

/* END SECCIÓN DE ARTÍCULOS*/

/* ACÁ COMIENZAN LAS MEDIA QUERIES */

@media(min-width: 0px){
    article{
        max-width: 80%;
    }
}

@media(min-height: 450px){
}

@media(min-width: 768px){
    
    article{max-width: 40%;
}
}
@media(min-width: 1024px){
    article{
        max-width: 30%;
    }
}
@media(min-width: 1440px){
    article{
        max-width: 22%;
    }
}