/* UNIVERSAL*/
*{
    box-sizing: border-box;
    flex-wrap: wrap;
}
/* UNIVERSAL*/


/* CUERPO EN GRAL */
div{
    display: block;
}
body{
    display: block;
    font-family: 'Bebas Neue', 'Roboto', sans-serif;
    margin: 0%;
    background-image: url("/images/background.jpg");
    background-size: contain;
}
main{
    display: block;
    width: 100vw;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
img{
    width: 95vw;
}
li{
    text-decoration: none;
}

/* CUERPO EN GRAL */


/* ACÁ COMIENZA LA NAVBAR TOP*/
.contain-navbar-scroll{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: transparent;
    background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, transparent);
    position: fixed;
    top: 0;
    left: 0;
    line-height: 3rem;
    width: 100%;
    height: 80px;
    align-items: center;
}

.hamburguer-menu{
display: inline-block;
font-size: 40px;
color: whitesmoke;
border-radius: 5%;
background-color: transparent;
}

.logo-instagram{
    display: inline-block;
    font-size: 40px;
    color: whitesmoke;
}

img.logo-home{
  width: 80px;
}

/* ACÁ TERMINA LA NAVBAR TOP*/

/* ACÁ COMIENZA EL MENÚ EMERGENTE*/

.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, transparent);
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

div#mySidebar{
    display: block;
    text-align: center;
}
a.close-btn{
    position: relative;
    right: 80px;
    font-size: 40px;;
    display: inline-block;
}

.sidebar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: goldenrod;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover{
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0%;
    right: 25px;
    font-size: 36px;margin-left: 50px;
}

a.closebtn{
    display: flex;
    justify-content: end;
    font-size: 40px;
    padding-right: 30px;
}

.openbtn{
    font-size: 20px;
    cursor: pointer;
    background-color:#111;
    color: whitesmoke;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover{
    background-color: #444;
}

#main{
    transition: margin-left 0.5s;
    padding: 16px;
}

/* ACÁ TERMINAEL MENÚ EMERGENTE*/

/* ACÁ COMIENZA LA NAVBAR QUE SE ABRE EN TABLET*/

.navbar-tablet{
display: flex;
width: 100%;
justify-content: space-between;
margin: 0%;
margin-top: 10%;
}

ul.nav-center{
display: flex;
margin: 10px;
justify-content: space-between;
}

ul.nav-center li,
ul.nav-rigth li{
    display: inline-block;
    padding-right: 25px;
    text-align: center;
    margin: 10px;
}

.navbar-tablet ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: flex;
}

.navbar-tablet ul li a{
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    color:whitesmoke;
}

.navbar-tablet ul li i{
    font-size: 30px;
    color: whitesmoke;
    margin: 10px;
}

/* ACÁ TERMINA LA NAVBAR BOTTOM QUE SE ABRE EN TABLET*/


/* ACÁ EMPIEZAEL BOTON COMPRAR*/

div.button-shopp{
    display: flex;
    flex-direction: row-reverse;
    background-position: right;
    padding: 20px;
    margin-top: 80px;
}

button.button-shopp{
display: inline-block;
align-self: flex-start;
margin-top: 60%;
padding: 8px;
font-size: 24px;
font-weight: bolder;
position: fixed;
background-color: gold;
border-radius: 20px;
}
button.button-shopp a{
    color: black;
    position: relative;
}


/* ACÁ TERMINA EL BOTON COMPRAR*/



/* ACÁ COMIENZA LA SECCIÓN DE ARTÍCULOS*/

div.articulo{
    display: flex;
    width: 100%;
}
div.imagen-p img{
    width: 100%;
    border-radius: 10px;
}

div.imagen-p{
    width: 50%;
}
div.articulop{
    width: 50%;
    color: white;
    padding: 10px;
}
h2.titulo-articulo{
    height: 5%;
    text-align: center;
}
/* ACÁ TERMINA LA SECCIÓN DE ARTÍCULOS*/


/* ACÁ COMIENZA EL FOOTER */

footer{
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    width: 100%;
}

footer img.logo-footer{
    width: 70px;
    position: absolute;
}

section.container-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

footer article{
    align-items: baseline;
    display: flow-root;
    color: whitesmoke;
}

footer i{
    font-size: 2em;
    color: whitesmoke;
}

.contain-redes-sociales{
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    width: 100%;
    margin: 0 10px;
    font-size: 10px;
}

h2.header-links{
    color: whitesmoke;
    display: inline-block;
    margin: 8%;
}

img.logo-home{
    width: 120px;
    display: inline-block;
}

footer ul{
    list-style-type: none;
}

a.link{
    color: goldenrod;
    text-align: center;
    margin: 0 5px;
    display: inline-block;
}
.terminos-y-condiciones{
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1%;
    border-top: gold solid 1px;
}

/* ACÁ TERMINA EL FOOTER */


/* ACÁ COMIENZAN LAS MEDIA QUERIES */

@media(min-width: 0px){
    .navbar-tablet{
        display: none;
    }
    ul.footer-tablet{
        display: none;
    }
}

@media(min-height: 450px){
    .sidebar{
        padding-top: 15px;
    }
    .sidebar a{
        font-size: 18px;;
    }
}

@media(min-width: 768px){
    .contain-navbar-scroll{
        display: flex;
        padding: 0% 1%;
        background:rgba(0, 0, 0, 0.7); 
        width: 100%;
        position: relative;
    }

     .navbar-tablet{
        display: flex;
        background: rgba(0, 0, 0, 0.7); 
    }
    
    ul.footer-tablet{
        display: flex;
        justify-content: space-around;
    }

    footer article{
        max-width: 28%;
    }
    footer p.text {
        font-size: 0.8em;
    }
}
@media(min-width: 1024px){
   .contain-navbar-scroll{
       display: none;
   }
   img.logo-nav{
    display: inline-block;
    width: 50px;
    position: absolute;
    top: 5px;
    left: 50%;
}
}