*  { box-sizing: border-box;
}

body{
    font-family: 'Anton', sans-serif;
    font-weight: normal;
    background-image: url("../images/fondo-de-prueba-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.header-nav{    
    text-decoration: none;
    font-size: x-large;
    background-image: url("../images/fondo-nav-dorado.jpg");
    text-transform: uppercase;
    color: black;
    text-align: center;
}

.productos-destacados{
   font-family: 'Anton', sans-serif ;
   background-color: transparent;

   font-weight: bold;
   font-size: x-large; 
}

.descripcion-del-producto {
    display: inline-block;
    padding: 10%;
    font-size: x-large ;
    line-height: 38 px;
    color: goldenrod;
}

footer{
    text-decoration: none;
    font-size: x-large;
    background-image: url("../images/fondo-nav-dorado.jpg");
    text-transform: uppercase;
    text-align: center;
}