/* UNIVERSAL*/
*{  
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    flex-wrap: wrap;
}
/* UNIVERSAL*/


/* CUERPO EN GRAL */
div{
    display: flex;
}
body{
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    background-image: url("/images/background.png");
    background-size: auto;
}
main{
    display: block;
    width: 100vw;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
img{
    width: 100%;
}
li{
    text-decoration: none;
}
h3{
    color: whitesmoke;
}

/* CUERPO EN GRAL */


/* ACÁ COMIENZA LA NAVBAR TOP*/
.contain-navbar-scroll{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: transparent;
    background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, transparent);
    position: fixed;
    top: 0;
    left: 0;
    line-height: 3rem;
    width: 100%;
    height: 150px;
    align-items: center;
    z-index: 1;
}

.hamburguer-menu{
display: inline-block;
font-size: 40px;
color: whitesmoke;
border-radius: 5%;
background-color: transparent;
}

.logo-instagram{
    display: inline-block;
    font-size: 40px;
    color: whitesmoke;
}

img.logo-home{
  width: 80px;
}

/* ACÁ TERMINA LA NAVBAR TOP*/

/* ACÁ COMIENZA EL MENÚ EMERGENTE*/

.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: black;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

div#mySidebar{
    display: block;
    text-align: center;
}
a.close-btn{
    position: relative;
    right: 80px;
    font-size: 40px;;
    display: inline-block;
}

.sidebar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: goldenrod;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover{
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0%;
    right: 25px;
    font-size: 36px;margin-left: 50px;
}

a.closebtn{
    display: flex;
    justify-content: end;
    font-size: 40px;
    padding-right: 30px;
}

.openbtn{
    font-size: 20px;
    cursor: pointer;
    background-color:#111;
    color: whitesmoke;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover{
    background-color: #444;
}

#main{
    transition: margin-left 0.5s;
    padding: 16px;
}

/* ACÁ TERMINAEL MENÚ EMERGENTE*/

/* ACÁ COMIENZA LA NAVBAR QUE SE ABRE EN TABLET*/
img.logo-nav{
    display: none;
}
.navbar-tablet{
display: flex;
justify-content: space-between;
margin: 0%;
width: 100vw;
}

ul.nav-center{
display: flex;
justify-content: space-around;
}

ul.nav-center li,
ul.nav-rigth li{
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.navbar-tablet ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: flex;
}

.navbar-tablet ul li a{
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    color:whitesmoke;
}

.navbar-tablet ul li i{
    font-size: 1em;
    color: whitesmoke;
    margin: 10px;
}


/*MAIN*/

main{
    width: 90%;
    margin: 150px auto 10px;
}

/* estilos aplicados al boddy*/

table{
    background-color: whitesmoke;
    color: black;
    border: solid 3px black;
    width: 95%;
    text-align: center;
    margin: 0px 10px;
    border: radius 5px;;
}
td.centrar{
    text-align: center;
}

img.img-producto{
    max-width: 100px;
    max-height: 100px;
    border:  solid 1px black;
}

td{
    border: solid 1px black;
}

div.Cantidad{
    text-align: center;
}

button.boton-borrar{
    width:28px;
    height: 28px;
    
}

i.far fa-trash-alt{
    text-align: center;
}

div.eliminar{
    text-align: center;
}

h2.nommbre-producto{
    font-size: 17px;
    font-weight: lighter;
}

div.detalle.de.compra{
    
    border: black solid 2px;
    color: black;
    background-color:whitesmoke;
    width: 95%;
    margin: 0px 10px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.compra{
    background-color: red;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    width: 30%;
}

section.interes{
display: flex;
justify-content: space-between;
background: rgba(0, 0, 0, 0.7);
}


section.interese article{
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}



/*SECCION INTERESES,SE ABRE EN DESKTOP 1440*/
section.intereses{
    border-top: solid goldenrod 1px;
    display: flex;
    justify-content: space-around;
}
section.intereses article{
    max-width: 20%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 10px;
}
section.intereses article img{
    width: 200px;
}
section.intereses h3{
    width: 100%;
    color: whitesmoke;
    font-size: 30px;
}

/* ACÁ COMIENZA EL FOOTER */

footer{
   display: flex;
   flex-wrap: wrap;
   margin: 0%;
   width: 100%;
   position: relative;
   border-top: 1px goldenrod solid;
}

footer img.logo-footer{
   width: 70px;
   position: absolute;
}

section.container-footer{
   display: flex;
   justify-content: space-between;
   width: 100%;
   text-align: center;
}

footer article{
   align-items: baseline;
   display: flow-root;
   color: whitesmoke;
   padding: 1% 5%;
   border-radius: 30px;
   margin: 1%;
}

footer i{
   font-size: 2em;
   color: whitesmoke;
}

.contain-redes-sociales{
   display: flex;
   justify-content: space-around;
   color: whitesmoke;
   width: 100%;
   margin: 0 10px;
   font-size: 10px;
}

h2.header-links{
   color: whitesmoke;
   display: inline-block;
   margin: 8%;
}

img.logo-home{
   width: 120px;
   display: inline-block;
}

footer ul{
   list-style-type: none;
}

a.link{
   color: goldenrod;
   text-align: center;
   margin: 0 5px;
   display: inline-block;
}
.terminos-y-condiciones{
   color: whitesmoke;
   font-size: 20px;
   text-decoration: none;
   display: inline-flex;
   width: 100%;
   justify-content: center;
   margin-bottom: 1%;
   border-top: gold solid 1px;
}

/* ACÁ TERMINA EL FOOTER */



/* ACÁ COMIENZAN LAS MEDIA QUERIES */

@media(min-width: 0px){
   .navbar-tablet{
       display: none;
   }
   ul.footer-tablet{
       display: none;
   }
   section.intereses{
       display: none;
   }
}

@media(min-height: 450px){
   .sidebar{
       padding-top: 15px;
   }
   .sidebar a{
       font-size: 18px;;
   }
}

@media(min-width: 768px){
   .contain-navbar-scroll{
       display: flex;
       padding: 0% 1%;
       background:rgba(0, 0, 0, 0.7); 
       width: 100%;
       position: relative;
   }

    .navbar-tablet{
        padding: 20px;
       display: flex;
       background: rgba(0, 0, 0, 0.7); 
   }
   
   ul.footer-tablet{
       display: flex;
       justify-content: space-around;
   }

   footer article{
       max-width: 28%;
   }
   footer p.text {
       font-size: 0.8em;
   }
}
@media(min-width: 1024px){
  .contain-navbar-scroll{
      display: none;
  }
   .navbar-tablet{
       padding: 0%;
   margin-top: 0%;
}
footer article{
   max-width: 30%;
}
section.intereses{
    display: flex;
}
}