body{
    font-family: 'Anton', sans-serif;
    font-weight: normal;
    line-height: 1.3;
    font-size: 16px;
    background-image: url("../images/fondo-de-prueba-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.header-nav{    
    text-decoration: none;
    font-size: x-large;
    background-image: url("../images/fondo-nav-dorado.jpg");
    text-transform: uppercase;
    text-decoration-color: goldenrod;
    text-align: center;
}

.productos-destacados{
   font-family: 'Anton', sans-serif ;
   background-color: transparent;
   color: white;
   font-weight: bold;
   font-size: x-large; 
}

footer{
    text-decoration: none;
    font-size: x-large;
    background-image: url("../images/fondo-nav-dorado.jpg");
    text-transform: uppercase;
    text-align: center;
}
/* barra horizontal con flex*/
.nav.d-block{
    display: flex;
    justify-content: center;
}

/* espacio entre los elementos de la ul*/
.container ul li a{
    margin: 8px;
    text-decoration: none;
    color: black;
}
/* efecto de pasar sobre el elemento se puede sacar si no gusta */
a:hover{
    background-color: blue;
}


