/* START UNIVERSAL*/
*{
    box-sizing: border-box;
    flex-wrap: wrap;
}
/* END UNIVERSAL*/


/* START CUERPO EN GRAL */
div{
    display: block;
}



main{
    display: flex;
    width: 100%;
    margin: 35% auto 0;
    justify-content: center;
}

.main-recipes{
margin: 0 auto;
display: flex;
width: 90%;
justify-content: space-between;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

img{
    width: 100%;
}

li{
    text-decoration: none;
}
body{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 0%;
    color: whitesmoke;
    background: black;
    background-size: auto;
}
/* END CUERPO EN GRAL */


/*START MAIN*/

.título-receta, 
.foto-receta ,
.descripcion-receta{
transition: 1s all cubic-bezier(0.33, 2.6, 1, 1.35);
}

.título-receta{
    position: relative; 
    display: block;
    align-items: flex-end;
    text-align: center;
    line-height: 63px;
    font-size: 15px;
    color: whitesmoke;
}

article.receta:hover .título-receta{
    position: relative; 
    display: block;
    align-items: flex-end;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: whitesmoke;
}

.receta-con-fondo{
justify-content: center;
display: flex;
flex-direction: row;
text-align: center;
align-items: center;
position: relative;
}

.foto-receta  {
padding-bottom: 1px;
z-index: 1;
position: absolute;
margin: auto;
box-sizing: border-box;
width: 90%;
}

article.receta:hover .foto-receta  {
    padding-bottom: 1px;
    z-index: 1;
    position: absolute;
    margin: auto;
    box-sizing: border-box;
    width: 110%;
}

.descripcion-receta{
    position: absolute;
    z-index: 30;
    color: #0000ff00;
    background:#22222400;
}

article.receta:hover .descripcion-receta{
    position:absolute;
    z-index: 30;
    color: whitesmoke;
    background: #0000008c;
}

.fondo-humo{
z-index: -1;
box-sizing: border-box;
width: 80%;
margin-top: -10%;
}

.ingredientes{
    text-align: left;
    padding: 2%;
}

.copy-ingredientes{
    text-align: center;
    text-decoration: underline;
}

.procedimiento {
    padding: 5px;
    text-align: center;
}

.ajuste-tamaño-martini{
    width: 65%;
}

.ajuste-tamaño-tequila{
    width: 65%;
}

.ajuste-tamaño-bloody{
    width: 65%;
}


/* START MEDIA QUERIES */

@media(min-width: 0px){

}

@media(min-height: 450px){

}

@media(min-width: 768px){
article {
    width: 25%;
}
main {
margin: 0 auto;
}
}
    
@media(min-width: 1024px){
}