/* START UNIVERSAL */
*{
    box-sizing: border-box;
    flex-wrap: wrap;
}
/* END UNIVERSAL*/


/* START CUERPO EN GRAL */
div{
    display: block;
}


main{
    display: block;
    width: 100vw;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

img{
    width: 95vw;
}

li{
    text-decoration: none;
}

/* END CUERPO EN GRAL */

/* START FORMULARIO*/
.section-login p,
.section-registro p{
    text-align: center;
}

.section-login h4,
.section-registro h4{
    font-size: 40px;
    text-align: center;
    color: gold;
}

.section-login,
.section-registro{
    width: 500px;
    padding: 30px;
    margin: auto;
    margin-top: 130px;
    border-radius: 4px;
    color:white;
}

.controls{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid;
    font-size:18px;
}

button.boton-ingreso,
button.boton-registro{
    width: 80%;
    border:none;
    background-color:gold;
    padding: 12px;
    color: black;
    margin:16px 0;
    font-size: 20px;
    text-transform: uppercase;
}

main.login-form{
    display: block;
    margin-top: 20%;
    margin-bottom: 15%;
}

form.section-login,
form.section-registro{
    display: flex;
    justify-content: center;
    max-width: 95%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

/* END FORMULARIO*/

/*START SECCION INTERESES,SE ABRE EN DESKTOP 1440*/

 section.intereses{
     border-top: solid goldenrod 1px;
     display: flex;
     justify-content: space-around;
 }
 section.intereses article{
     max-width: 20%;
     background: rgba(0, 0, 0, 0.7);
     border-radius: 20px;
     padding: 10px;
 }
 section.intereses article img{
     width: 200px;
 }
 section.intereses h3{
     width: 100%;
     color: whitesmoke;
     font-size: 30px;
 }


/*END SECCION DE RECOMENDADOS*/
section.intereses{
    display: none;
}

/* START MEDIA QUERIES */

@media(min-width: 0px){
}

@media(min-height: 450px){
}

@media(min-width: 768px){
}

@media(min-width: 1024px){
}
