/* START UNIVERSAL*/
*{
    box-sizing: border-box;
    flex-wrap: wrap;
}
/* END UNIVERSAL*/


/* START CUERPO EN GRAL */
div{
    display: block;
}

body{
    display: block;
    font-family: 'Bebas Neue', 'Roboto', sans-serif;
    margin: 0%;
    background-image: url("/images/background.png");
    background-size: auto;
}

main{
    display: flex;
    width: 100vw;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

img{
    width: 100%;
}

li{
    text-decoration: none;
}

/* END CUERPO EN GRAL */


/* START MEDIA QUERIES */

@media(min-width: 0px){
}

@media(min-height: 450px){
}

@media(min-width: 768px){
}

@media(min-width: 1024px){
}

/* END MEDIA QUERIES */