/* START UNIVERSAL*/
*{  
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    flex-wrap: wrap;
}
/* END UNIVERSAL*/

/* START CUERPO EN GRAL */


main{
    display: block;
    width: 100vw;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

img{
    width: 100%;
}

li{
    text-decoration: none;
}

h3{
    color: whitesmoke;
}

/* END CUERPO EN GRAL */

/* START MAIN */

main{
    width: 90%;
    margin: 150px auto 10px;
}

.featured,
.novelties{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

main section article{
    display: inline-block;
    margin: 10px 0px;
    background: rgba(0, 0, 0, 0.7);
   
}

main section article img {
    width: 100%;
    opacity: 100%;
}
main section article img:hover {
    width: 100%;
    opacity: 60%;
}

.main-article{
    position: relative;
    border-top: solid 1px grey;
    padding: 15px;
    transition: 2s;
}

.price{
    font-size: 18px;
    width: 30%;
    color: whitesmoke;
}

.discount,
.shipping{
    width: 70%;
    color: #666;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

.description{
    display: none;
    color: orange;
    margin-top: em;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: -15px;
    transition: 2s;
}

main section article .main-article:hover i{
    transform: rotateZ(-90deg);
}

main section h3{
    margin:20px 0px;
    color: whitesmoke;
}

article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid grey;
    position: relative;
    padding: 15px 15px 5px;
}

/* END MAIN */

/* START BOTON COMPRAR*/
form {
    display: flex;
    width: 100%;
    justify-content: center;
}

button.buy{
    background: orange;
    color: white;
    border: none;
    padding: 5px;
    margin: 8px 0 0;
    border-radius: 5px;
    width: 120px;
    transition: all 2s;
}

button.buy:hover{
    background: white;
    color: orange;
    border: solid 1px orange;
}

/* END BOTON COMPRAR*/

/* START MEDIA QUERIES */

@media(min-width: 0px){
    .shipping{
        width: 100%;
    }
}

@media(min-height: 450px){
}

@media(min-width: 768px){
    main{
        margin: 0 auto;
    }
    
    article{
     max-width: 40%;
    }

    main section article:hover .description{
        display: flex;
        width: 100%;
        justify-content: center;
        transition: 2s;
    }

    .discount{
        width: 50%;
        text-align: end;
    }

    .shipping{
        width: 100%;
    }
}

@media(min-width: 1024px){
article{
    max-width: 22%;
   }
}


