/* UNIVERSAL*/
*{  
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    flex-wrap: wrap;
}
/* UNIVERSAL*/


/* CUERPO EN GRAL */
div{
    display: flex;
}
body{
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    background-image: url("/images/background.png");
    background-size: auto;
}
main{
   
    width: 100vw;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
img{
    width: 100%;
}
li{
    text-decoration: none;
}
h3{
    color: whitesmoke;
}

/* CUERPO EN GRAL */


/* ACÁ COMIENZA LA NAVBAR TOP*/
.contain-navbar-scroll{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: transparent;
    background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, transparent);
    position: fixed;
    top: 0;
    left: 0;
    line-height: 3rem;
    width: 100%;
    height: 150px;
    align-items: center;
    z-index: 1;
}

.hamburguer-menu{
display: inline-block;
font-size: 40px;
color: whitesmoke;
border-radius: 5%;
background-color: transparent;
}

.logo-instagram{
    display: inline-block;
    font-size: 40px;
    color: whitesmoke;
}

img.logo-home{
  width: 80px;
}

/* ACÁ TERMINA LA NAVBAR TOP*/

/* ACÁ COMIENZA EL MENÚ EMERGENTE*/

.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: black;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

div#mySidebar{
    display: block;
    text-align: center;
}
a.close-btn{
    position: relative;
    right: 80px;
    font-size: 40px;;
    display: inline-block;
}

.sidebar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: goldenrod;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover{
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0%;
    right: 25px;
    font-size: 36px;margin-left: 50px;
}

a.closebtn{
    display: flex;
    justify-content: end;
    font-size: 40px;
    padding-right: 30px;
}

.openbtn{
    font-size: 20px;
    cursor: pointer;
    background-color:#111;
    color: whitesmoke;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover{
    background-color: #444;
}

#main{
    transition: margin-left 0.5s;
    padding: 16px;
}

/* ACÁ TERMINAEL MENÚ EMERGENTE*/

/* ACÁ COMIENZA LA NAVBAR QUE SE ABRE EN TABLET*/
img.logo-nav{
    display: none;
}
.navbar-tablet{
display: flex;
justify-content: space-between;
margin: 0%;
width: 100vw;
}

ul.nav-center{
display: flex;
justify-content: space-around;
}

ul.nav-center li,
ul.nav-rigth li{
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.navbar-tablet ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: flex;
}

.navbar-tablet ul li a{
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    color:whitesmoke;
}

.navbar-tablet ul li i{
    font-size: 1em;
    color: whitesmoke;
    margin: 10px;
}


/*MAIN*/

main{
    width: 100%;
    margin: 140px 20px 50px 23px;   
}

/* estilos aplicados al boddy*/

section.container-car{
    width: 100%;
    
  
}

div.product-car{
    background: linear-gradient(354deg, rgb(182, 13, 13), transparent);
    padding: 10px;
    color: whitesmoke;
    border-radius: 15px;
    margin: 10px 0px;
}


.img img {
    width: 100%;
    padding: 5px;
    border-radius: 15px;
}

div.description-product{
    align-items: center;
}


div.img{
    width: 25%;
}

div.description-product{
    width: 25%;
    justify-content: center;
}
div.cantidad{
    width: 25%;
    align-items: center;
}

div.cantidad input{
    width: 50%;    
}
div.cantidad button{
    width: 20px;
    height: 20px;
    border-radius: 30%;
    
}

div.delete{
    width: 25%;
    justify-content: center;
    align-items: center;
}

div.listado{
    width: 50%;
}
div.botones{
    width: 50%;
}

.listado ul.product-list{
    width: 100%;
    color: white;
    margin: 10px;
    background: linear-gradient(354deg, rgb(182, 13, 13), transparent);
    text-align: center;
    border-radius: 15px;  
}

span.total{
    background: linear-gradient(354deg, rgb(182, 13, 13), transparent);
    border-radius: 15px;
    color: white;
    width: 100%;
    text-align: center;

}

div.code-discount{
    width: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(354deg, rgb(182, 13, 13), transparent);
    border-radius: 15px;
}



div.code-discount button{
        width: 80%;
        border-radius: 15px;
        color: black;
        background: #fff6ff;
        height: 50px; 
}


section.interes{
display: flex;
justify-content: space-between;
background: rgba(0, 0, 0, 0.7);
}

i.fas.fa-trash-alt{
    font-size: 30px;
}

section.interese article{
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
ul.list-product li {
    margin: 2px 0px;
}



/*SECCION INTERESES,SE ABRE EN DESKTOP 1440*/
section.intereses{
    border-top: solid goldenrod 1px;
    display: flex;
    justify-content: space-around;
}
section.intereses article{
    max-width: 20%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 10px;
}
section.intereses article img{
    width: 200px;
}
section.intereses h3{
    width: 100%;
    color: whitesmoke;
    font-size: 30px;
}

/* ACÁ COMIENZA EL FOOTER */

footer{
   display: flex;
   flex-wrap: wrap;
   margin: 0%;
   width: 100%;
   position: relative;
   border-top: 1px goldenrod solid;
}

footer img.logo-footer{
   width: 70px;
   position: absolute;
}

section.container-footer{
   display: flex;
   justify-content: space-between;
   width: 100%;
   text-align: center;
}

footer article{
   align-items: baseline;
   display: flow-root;
   color: whitesmoke;
   padding: 1% 5%;
   border-radius: 30px;
   margin: 1%;
}

footer i{
   font-size: 2em;
   color: whitesmoke;
}

.contain-redes-sociales{
   display: flex;
   justify-content: space-around;
   color: whitesmoke;
   width: 100%;
   margin: 0 10px;
   font-size: 10px;
}

h2.header-links{
   color: whitesmoke;
   display: inline-block;
   margin: 8%;
}

img.logo-home{
   width: 120px;
   display: inline-block;
}

footer ul{
   list-style-type: none;
}

a.link{
   color: goldenrod;
   text-align: center;
   margin: 0 5px;
   display: inline-block;
}
.terminos-y-condiciones{
   color: whitesmoke;
   font-size: 20px;
   text-decoration: none;
   display: inline-flex;
   width: 100%;
   justify-content: center;
   margin-bottom: 1%;
   border-top: gold solid 1px;
}

/* ACÁ TERMINA EL FOOTER */



/* ACÁ COMIENZAN LAS MEDIA QUERIES */

@media(min-width: 0px){
   .navbar-tablet{
       display: none;
   }
   ul.footer-tablet{
       display: none;
   }
   section.intereses{
       display: none;
   }
}

@media(min-height: 450px){
   .sidebar{
       padding-top: 15px;
   }
   .sidebar a{
       font-size: 18px;;
   }
}

@media(min-width: 768px){
   .contain-navbar-scroll{
       display: flex;
       padding: 0% 1%;
       background:rgba(0, 0, 0, 0.7); 
       width: 100%;
       position: relative;
   }

    .navbar-tablet{
        padding: 20px;
       display: flex;
       background: rgba(0, 0, 0, 0.7); 
   }
   
   ul.footer-tablet{
       display: flex;
       justify-content: space-around;
   }

   footer article{
       max-width: 28%;
   }
   footer p.text {
       font-size: 0.8em;
   }
}
@media(min-width: 1024px){
  .contain-navbar-scroll{
      display: none;
  }
   .navbar-tablet{
       padding: 0%;
   margin-top: 0%;
}
footer article{
   max-width: 30%;
}
section.intereses{
    display: flex;
}
}