/* START UNIVERSAL */
*{
    box-sizing: border-box;
    flex-wrap: wrap;
}
/* END UNIVERSAL*/


/* START CUERPO EN GRAL */
div{
    display: block;
}


main{
    display: block;
    width: 100vw;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

img{
    width: 95vw;
}

li{
    text-decoration: none;
}

/* END CUERPO EN GRAL */

/* START FORMULARIO*/
.section-login p,
.section-registro p{
    text-align: center;
}

.section-login h4,
.section-registro h4{
    font-size: 40px;
    text-align: center;
    color: gold;
}

.section-login,
.section-registro{
    width: 500px;
    padding: 30px;
    margin: auto;
    margin-top: 130px;
    border-radius: 4px;
    color:white;
}

.controls{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid;
    font-size:18px;
}

button.boton-ingreso,
button.boton-registro{
    width: 80%;
    border:none;
    background-color:gold;
    padding: 12px;
    color: black;
    margin:16px 0;
    font-size: 20px;
    text-transform: uppercase;
}

main.login-form{
    display: block;
    margin-top: 20%;
    margin-bottom: 15%;
}

form.section-login,
form.section-registro{
    display: flex;
    justify-content: center;
    max-width: 95%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}
div.admin-password{
    margin: 0 auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    width: 300px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 15px;
}
h6 .admin-button{
    margin-bottom: 10px auto;
}

input#password-admin{
    border: none;
    background-color: tomato;
}
.box-extra{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 10px auto;
}
/* END FORMULARIO*/


/* START MEDIA QUERIES */

@media(min-width: 0px){
}

@media(min-height: 450px){
}

@media(min-width: 768px){
}

@media(min-width: 1024px){
 .section-login,
.section-registro{
    margin: 10px auto;
}
main.login-form{
    margin: 0 auto;
}
}
