/* UNIVERSAL*/
*{  
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    flex-wrap: wrap;
}
/* UNIVERSAL*/

/* START CUERPO EN GRAL */

main{
    display: block;
    width: 100vw;
}

a{
    text-decoration: none;
    color: black;
}

img{
    width: 100%;
    border-radius: 10px;
}

li{
    text-decoration: none;
}

h3{
    color: black;
}

i{
    font-size: 30px;
    color: black;
    padding: 8px;
}

/* END CUERPO EN GRAL */

/* START SECCIÒN RECOMENDADOS */

section.intereses{
    display: none;
}

/* END SECCIÒN RECOMENDADOS */

/* START DETALLES DE ARTÍCULO*/
.main-reput{
    display: flex;
}
.article-detalle{
    color: black;
    margin-top: 30%;
    width: 90%;
    margin-top: 30%;
    margin: 30% auto 0;
    background: rgb(0 0 0 / 4%);
    padding: 2%;
    border-radius: 10px;
}

.selector{
    color: black;
    flex-wrap: nowrap;
    border-bottom: 1px #8080804f solid;
    margin: 10px 0;
    border-radius: 5px;
    padding: 5px 5px 10px ;
    display: flex;
    justify-content: space-around;
}

.caracteristica{
    width: 50%;
    padding-right: 10px
}

select{
    width: 100%;
    border-radius: 5px;
    color: black;
    text-align: center;
    border: none;
}

p.off{
    color: #1bad20;
}

h4.price{
    font-size: 36px;
    font-weight: 300;
    width: 100%;

}

p.payment-details{
    color: black;
    width: 100%;

}

.button-stock{
    padding: 1px;
    width: 90px;
    background-color: black;
    justify-content: center;
}

.box,
article.caracteristicas{
    padding: 1%;
    display: flex;
    margin: 10px 0;
    width: 500px;
}
.box-search{
    justify-content: center;
    align-items: center;
}
.box a{
    text-decoration: none;
    color: #3483fa;
    font-size: x-small;
    margin-left: 20px;
    font-weight: 300;
    width: 90%;
}

.box-item{
    display: flex;
 
    align-items: center;
}

.title-green{
    color: #1bad20;
}

i {
    color: #1bad20;
}

p.informative{
    font-size: 16px;
    color: black;
    width: 100%;
    display: flex;
    margin: 2%
}
p.informative2{
    font-size: 16px;
    color: black;
    width: 100%;
    display: flex;
    margin: 2%;
    justify-content: space-around;
}
h4.title{
    margin-bottom: 10px;
}


form{
    width: 100%;
    display: flex;
    padding: 6px;
    align-items: center;
}

div.buy{
    padding: 10px;
    border-radius: 7px;
    color: white;
    border: 1px solid;
    background-color: black;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    transition: all 500ms ease;
}
div.buy:hover{
    background-color: #b57500;
    color: white;
    border: none;
}


button.add{
    padding: 10px;
    border-radius: 7px;
    width: 250px;
    background: white;
    color:black;
    border: solid 1px #8080804f;
    cursor: pointer;
    margin: 0 auto;
}

button.add:hover{
    border: none;
}

p.title-grey{
    display: inline-block;
    color: black;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
}

i.fas.fa-user-shield{
    font-size: 16px;
    color: black;
}

.compra-protegida{
    text-decoration: none;
    color: #3483fa;
    font-size: x-small;
    font-weight: 300;
}

.add-favorite{
    display: inline-block;
    width: 60%;
}

.share{
    width: 30%;
    display: inline-block;
    transition: all 450ms ease;
}

.share i,
.add-favorite i{
    font-size: 22px;
    color: black;
}

.add-favorite label,
.share label{
    font-size: 16px;
}

.add-favorite input, 
.share input{
    display: none;
}
/* END DETALLES DE ARTÍCULO*/

/* START SECCIÓN CARACTERÍSTICAS DETALLADAS */

section.caracteristicas{
    width: 90%;
    margin: 0 auto;
    background: rgb(0 0 0 / 4%);
    color: black;
    display: flex;
    padding: 2%;
}

article.caracteristicas.simple{
    justify-content: center;
    border-radius: 5px;
    display: flex;
    list-style:none;
    flex-direction: column;
    width: 100%;
    border: solid 1px #8080804f;
}

.caracteristica-ul {
    list-style: none;
}
.contain-caracteristicas{
    width: 100%;
}

h4{
    font-weight: 400;
    margin: 10px 0;
}
.box-link{
    width: 90%;
    padding: 10px;
    margin: 10px auto;
}
.box-link a{
    color: #3483fa;
    font-size: smaller;
    font-weight: 300;
}
article.caracteristicas.icons{
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-radius: 5px;
}
.icon-tabla{
    display: flex;
    width: 40%;
    align-self: center;
    flex-direction: column;
    align-content: center;
}

.icon-tabla i{
    text-align: center;
}

.icon-tabla h5{
    font-size: xx-small;
}

p.subtitle{
    text-align: center;
    display: flex;
    align-content: center;
}

.title-green{
    align-content: center;
    display: flex;
}

ul.barra-reput{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 10px auto;
    width: 90%;
    align-items: center;
}

li.barra-color{
    height: 8px;
    width: 50px;
    background: whitesmoke;
}

li.barra-color.pink{
    background: #fff0f0;
}

li.barra-color.salmon{
    background: #fff5e8;
}

li.barra-color.yellow{
    background: #fffcda;
}

li.barra-color.lime{
    background: #f1fdd7;
}

li.barra-color.green{
    background: #39b54a;
    height: 12px;
}

.box-reput{
    width: 33%;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    border-left: solid #383535 1px;
}

.box-reput h6{
    color: #1bad20;
    font-size: x-large;
    font-weight: 300;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.quantity{
    font-weight: bold;
}

.box-reput.left{
    border-left: none;
    display: flex;
}

p.informative-L{
    font-size: small;
    font-weight: 200;
    padding: 15px;
    border: solid 1px #8080804f;
    border-radius: 5px;
}

section.medios-de-pago{
    pad: 1%;
}

section.medios-de-pago h5{
    font-weight: 300;
    margin-bottom: 10px;
}

.contain-logos-cripto{
    margin: 0 auto;
    border: 1px solid #383535;
    border-radius: 5px;
    padding: 15px;
}
form.search i{
    color: gray;
    font-size: 20px;
}

form.search input{
    border: none;
    background: white;
    border-radius: 5px;
    padding: 4px;
}

h4.text-gray{
    color: gray;
}

textarea#questions{
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
}

section.questions{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.buttons-questions{
    width: 90%;
    display: flex;
    flex-direction: initial;
    justify-content: space-around;
}

.buttons-questions button{
    width: 48%;
    border-radius: 5px;
    padding: 5px;
}

.button-send{
border-radius: 7px;
color: white;
border: 1px solid;
background-color: black;
}

.button-delete{
    border-radius: 7px;
    background: white;
    color: black;
    border: solid 1px #8080804f;
    margin-right: 5px;
}

.main-valoraciones{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    background: white;
}

section.valoraciones i{
    color: gold;
    font-size: 20px;
}

section.valoraciones i.title{
    font-size: 30px;
}

.stars-title{
    width: 100%;
    margin: 0px auto 5px; 
    justify-content: center;
}

h2.valoracion-num{
    font-weight: 300;
    font-size: 36px;
    margin-left: 20px;
}

p.text-valoracion{
    font-size: 16px;
    color: black;
    font-weight: 300;
    padding: 10px;
}

article.val{
    border-top: solid 1px #383535;
}
 
/* END SECCIÓN CARACTERÍSTICAS DETALLADAS */

/* START MEDIA QUERIES */

@media(min-width: 0px){
}

@media(min-height: 425px){
   
    
}

@media(min-width: 768px){
    .article-detalle{
        margin: 10px auto 0;
    }
    ul.footer-tablet{
        display: flex;
        justify-content: space-around;
    }
    section.information-seller{
    width: 100%;
}
    li.barra-color{
        width: 90px;
    }
    textarea#questions{
        width: 90%;
    
    }
  

@media(min-width: 1024px){
    main{
        display: flex;
    }
    .container-images{
        width: 500px;
        display: flex;
        align-content: center;
    }
    .article-detalle{
        display: flex;
        justify-content: space-around;
    }
    .selector{
        width: 60%;
    }

    h3.title-product{
        width: 94%;
        padding-bottom: 10px;
    }
    p.informative-L,
    .caracteristicas-container,
    .caracteristicas-container{
        width: 500px;
    }


    section.main-product{
        max-width: 40%;
        padding-left: 10px;
        border: #8080804f 1px solid;
        border-radius: 5px;
        width: 40%;
        background: white;
    }

.butns{
    flex-direction: column;
    align-items: center;
}

    div.buy,
    button.add{
        width: 280px;
    }
   
    section.caracteristicas{
        position: relative;
    }
    section.information-seller{
        border: 1px solid #8080804f;
        border-radius: 5px;
        max-width: 40%;
        border: #8080804f 1px solid;
        background: white;
    }
    .caracteristicas.text{
        border: #8080804f 1px solid;
        background: white;
    }
    section.caracteristicas h4{
        width: 100%;
        margin: 10px 0 10px 10px;
        font-weight: bold;
    }
    li.barra-color{
        width: 50px;
    }
    .box-link.desktop{
        border: none;
    }
    .block-3{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .block-2{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .caracteristicas-container {
        display: flex;
        width: 500px;
        background: white;
        border: #8080804f 1px solid;
      
    }
    section.medios-de-pago{
        max-width: 40%;
        padding: 20px 5px;
        border: solid 1px #8080804f;
        margin-top: 20px;
        border-radius: 5px;
        background: white;
    }
   
}

@media(min-width: 1440px){
    section.medios-de-pago{
        margin-right: 45px;
    }
    section.information-seller{
        right: 45px;
    }
    section.main-product{
        margin-left: 25px;
    }
    li.barra-color{
        width: 80px;
    }
    section.valoraciones i.title{
        font-size: 50px;
    }
    .box,
article.caracteristicas{
    width: 500px;
}
}
}